[2012-05-26 14:17] aL3xa opened #1 "htest - choose custom fields"
First, great job @daroczig!

Okay, the issue title sucks, but here's the deal, in a nutshell: you may want to provide optional argument, like `fields` and put some default there, like `fields = c("statistic", "parameter", "p.value")`. That way one can include/exclude columns from table. Of course, this applies to pretty much all objects... Just a thought, may be silly... =)

[2012-07-20 08:48] malexan opened #2 "Source code instead of result in pdf/odt/docx examples on github"
At https://github.com/daroczig/pander in examples of "Brew to Pandoc" section pdf/odt/docx files contain R source code but not tables/images.

If run e.g. "Pandoc.brew(system.file('examples/short-code-long-report.brew', package='pander'), output = tempfile(), convert = 'odt')" than all is ok, and output odt file contains figures and tables.

[2012-07-20 10:20] #2 closed, assigned to nobody

[2012-08-09 22:45] #1 closed, assigned to nobody

[2012-08-30 08:55] tothg opened #4 "mysterious trouble under Win"
I can't systematically reproduce the bug, but sometimes happen.
Command (with the latest olympics-webapp.brew file):

library(pander)
setwd('e:/rapport')
u <- "ATH-220"
Pandoc.brew("olympics-webapp_renew2.brew", output='e:/rapport/tmp/test', convert='html')
Pandoc.brew("olympics-webapp_renew2.brew", output='e:/rapport/tmp/test', convert='html')
Pandoc.brew("olympics-webapp_renew2.brew", output='e:

[2012-08-31 10:09] #4 closed, assigned to nobody

[2012-10-30 11:39] malexan opened #7 "graphs.brew failed: Error "argument 1 matches multiple formal arguments""
[sas@analytic ~]$ R --vanilla
R version 2.15.1 (2012-06-22) -- "Roasted Marshmallows"
Platform: i686-redhat-linux-gnu (32-bit)

Error: Error (`argument 1 matches multiple formal arguments`) in your BRCODEs: `
## generating dataset
df <- mtcars[, c('hp', 'wt')]
df$factor <- sample(c('Foo', 'Bar', 'Foo bar'), size = nrow(df), replace = TRUE)
df$factor2 <- sample(c('Foo', 'Bar', 'Foo bar'), size = nr

[2012-11-01 23:26] #7 closed, assigned to nobody

[2012-11-27 11:58] mattmalin opened #12 "pandoc.table produces incorrect data"
When using pandoc.table on a data.frame, values within the produced table are not matching the complete string (such as on character vectors produced from formatted numbers)

Example:

[code]

[2012-11-28 12:51] #12 closed, assigned to nobody

[2012-12-17 10:02] mbacou opened #14 "Error: `Using a reserved word as variable: `plot``"
Gergely,

I'm trying to run your "minimal example" at https://github.com/Rapporter/pander/blob/master/inst/examples/minimal.brew but keep on getting odd errors:

[code]

I tried the next example at https://github.com/Rapporter/pander/blob/master/inst/examples/short-code-long-report.brew

[code]

Am I missing something obvious?

I'm running this through Eclipse StatET, here is my session info:

[co

[2012-12-17 11:14] #14 closed, assigned to nobody

[2013-01-15 17:33] stevepowell99 opened #16 "*apply"
Hi I can't work out how to use *apply (or loops) with pander.
I would like to be able to produce bunches of tables and figures using lapply (or loops) and have the captions set correctly.

<%=
lapply(mtcars,function(c){
    set.caption('qwer')
    print(histogram(c))
  })
%>

sets the caption correctly but gives only one histogram.

changing     print(histogram(c)) to     print(table(c)) gives me

[2013-01-15 17:50] #16 closed, assigned to nobody

[2013-02-16 01:58] aL3xa opened #17 "Class-dependend p()"
It's immense how lucid ideas pop up when you write the documentation. =)

Anyway... it came to me that `p.wrap` should act differently depending on the class of an object. For characters it's fine to have _something_, _like_ and _this_, but for numeric vectors, it may be: `3`, `4`, `5` or even something nuts like `{3, 4, 5}`. Notice that I got rid of copula in numeric vectors. Just think about it.

[2013-03-06 12:42] huashan opened #18 "Table width and number of characters"
I see in `helper.R` that `Pander` uses `nchar()` to determine column width by number of characters in the string. That is not suitable for cjk characters, I'd suggest using `nchar(x, type='type')` to handle CJK characters.

[2013-03-06 20:06] #18 closed, assigned to nobody

[2013-03-19 07:14] onesandzeroes opened #19 "Add Rmarkdown table style"
`knitr` uses [PHP Markdown Extra](http://michelf.ca/projects/php-markdown/extra/#table) style tables, which means that `pandoc.table()` doesn't seem to work well with `knitr`. Adding a new style to markdown table might make it easier to use `pander` in a `knitr` workflow (see, for example [Stack Overflow: Programmatically creating Markdown tables in R with KnitR](http://stackoverflow.com/questions

[2013-03-20 00:08] #19 closed, assigned to nobody

[2013-03-20 23:34] cocinerox opened #22 "Escaping backslash confuses pandoc.table (pander 0.3.1)"
`pandoc.table(data.frame(a="\\1",b="23"))` results in

[code]

The issue might come from that `nchar("\\1", type = 'width')` is 2, but `format("\\1", width = 3)` gives `"\\1"` and not `"\\1 "`. (?format says "... Thus the width is as displayed by print(quote = FALSE) and not as displayed by cat.")

BTW superb library, congrats and thanks! Greetings from Csepel, Laci Szakacs

[2013-03-21 10:09] #22 closed, assigned to nobody

[2013-03-22 14:12] aL3xa opened #23 "Unwanted behaviour of p() when p.<options> are set to empty string"
I noticed that `p` method has a flow:

[code]

This calls for a simple fix. I'll file a pull request soon.

[2013-03-22 14:21] aL3xa opened #24 "Make Pander.brew() output the same as legacy brew() one"
However weird it may seem at first, it may be useful to make `Pander.brew` behave like (return output identical to) genuine `brew` method. Two ideas came to my mind:
- default to original `brew` output when `p.sep`, `p.wrap` and `p.copula` are set to `NULL` or empty string (related to issue #23)
- use `I(<object>)` to suppress processing

[2013-03-22 15:28] #23 closed, assigned to nobody

[2013-03-25 20:13] daroczig opened #26 "screwed up regular expression based on `basedir`"
@eipi10 has just reported a strange issue on OSX: https://gist.github.com/daroczig/5238455#comment-805311

That's a bug in [[`Pandoc.brew#L134`](https://github.com/Rapporter/pander/blob/master/R/brew.R#L134)]

[2013-03-25 21:04] #26 closed, assigned to nobody

[2013-03-27 09:40] huashan opened #27 "Is it possible to keep trailing zeros?"
I noticed that the behavior of `pander()` and `pandoc.table()` are different. I like the way `pander()` does to keep the trailing zeros. Is it possible to let `pandoc.table()` do the same thing?

panderOptions("digits", 4)
a<-c(7, 7.1, 7.233)

[2013-03-27 13:45] #27 closed, assigned to nobody

[2013-04-01 11:30] ap53 opened #28 "How can I change the English captions in pander?"
I posted this question on SO and received a suggestion to raise the issue here.

I am using pander to print nicer looking tables via RStudio, knitr, pander, pandoc, Word. I have a two-page table, to which I would like to add a Spanish caption:

[code]

This almost works, but my caption states:

[code]

I can't find find the way to change the `Table` and `continued below` to their Spanish equivalen

[2013-04-01 17:10] #28 closed, assigned to nobody

[2013-04-06 16:50] mrdwab opened #31 "Allow both US and UK spelling of "center"/"centre" for "justify" argument."
If using something like:

[code]

to create a table, I get the following error:

[code]

It's easy enough for me to then go back and change the spelling, but it might be convenient to also have both US and UK ways of spelling "center/centre" be valid.

[2013-04-06 19:03] #31 closed, assigned to nobody

[2013-04-06 19:14] #24 closed, assigned to nobody

[2013-04-08 10:41] daroczig opened #32 "pandoc.table breaks when table has length 1"
@stevepowell99 opened this issue at https://github.com/Rapporter/rapport/issues/71

---

[code]

This can occur e.g. if looping through variables and you don't know in advance that the table is going to have length 1. Would be nice if pandoc.table could cope with this.

Thanks.

[2013-04-08 14:06] #32 closed, assigned to nobody

[2013-04-22 03:12] mathematicalcoffee opened #33 "Bug with `pandoc.list` and one sub-element"
`pandoc.list` doesn't return the properly indented list if a sub-list has only one element.
## Example

Suppose I want to make the following list:
- one
  - two

I'd do

[code]

However this returns

[code]

If however the sublist has more than one element, everything works fine:

[code]

[code]
## Fix

I believe the error is in [this line of `pandoc.list.return`](https://github.com/Rapporter/pand

[2013-04-22 13:14] #33 closed, assigned to nobody

[2013-05-12 00:04] zkamvar opened #34 "Bug: columns mixed up with emphasize.strong.cols"
Your version of `pander` is awesome and has helped me a lot with my reports, but there is a problem with the argument `emphasize.strong.cols` in the `pandoc.table()` function and I thought I should bring it to your attention. If the user specifies more than one column, the result is that the columns are mixed up. Example below:

---

[code]

You can see the differences between the two tables below

[2013-05-12 00:12] #34 closed, assigned to nobody

[2013-05-14 19:44] vlsi opened #35 "Headerless tables should not render header"
Here's code to reproduce the issue.
I expect no &nbsp; &nbsp; header row.

[code]

[2013-05-14 19:58] vlsi opened #36 "Make column width configurable"
Current implementation of pander does not allow to specify width of table columns.

I understand underlying pandoc's implementation lacks support of advanced width formatting, but there is a workaround.

Pandoc in html mode sets widths of generated columns relative to the widths of columns in markdown formatting.
That means, if pander artificialy extends column width it would influence the width o

[2013-05-14 20:10] vlsi opened #37 "Allow conditional formatting of table cells"
Current implementation of `emphasize.*` hardcodes formatting functions `pandoc.emphasis.*`

I have two usecases:
1) Conditional formatting -- color coding of column based on the value in another column.
2) Adding footnotes to the table cells.

Could you please clarify what is the way to solve these tasks?

[2013-05-14 20:14] vlsi opened #38 "Clarify the way to use one *.brew from within another"
I did try using different flavours of Pandoc.brew, however all they result in very obscure error messages.

It would be grateful if you could update documentation with some official way of reusing *.brew files.

[2013-05-15 10:10] #35 closed, assigned to nobody

[2013-05-15 18:59] vlsi opened #39 "Option to export report into self contained file"
It would be grate to export the report in a single HTML page, as it would enable easy sharing the results (e.g. email).

Quick&dirty attempt (`pandoc --self-contained ...`)  revealed the following issues:
1) fonts.css include lots of fonts (1.5MiB). I guess there is no much sense in that much bloat.
2) included `url('...?dsfsdf')` are not properly parsed by pandoc (error is "file not found"). Shou

[2013-05-16 07:09] vlsi opened #40 "Option to exclude some level of headings from the table of contents"
Current javascript collects all the headings to the TOC, while it makes sense keeping only important ones (say up to h2).

I would suggest either option to limit (hX level, e.g. h1, h2, h3, ...) and/or rely on pandocs # My header {.exclude_from_toc} feature

[2013-05-16 09:16] vlsi opened #41 "Need some way to debug brew templates"
Current brew errors are hard to impossible to debug.

It might throw Error: Error (`duplicate 'row.names' are not allowed`) in your BRCODEs: and you are alone with the error.

The best I figured out is a binary search over the template source (just exclude half of the text) to identify the bad statement.

options(error=traceback), error=browser, error=recover do not help (I did not manage to figur

[2013-05-24 13:34] #38 closed, assigned to nobody

[2013-05-24 13:37] #37 closed, assigned to nobody

[2013-05-24 14:38] #41 closed, assigned to nobody

[2013-05-24 14:48] #40 closed, assigned to nobody

[2013-06-01 21:16] kovla opened #45 "Scientific notation for p-values still remains after setting 'round' option"
Hi,

I am trying to get a neat output from an lm object. Here goes:

[code]

So, only estimates and standard errors are rounded, and not the t- and p-values. Is this is a bug or am I missing some new option to control this? Thanks!

[2013-06-02 20:09] #45 closed, assigned to nobody

[2013-06-03 13:45] kovla opened #46 "Feature suggestion: vector with dependent variable names for pander.lm() and such."
A very nice feature of pander is the ability to render models (lm, etc) in Markdown syntax. This allows a very seamless integration of model presentation, as MD tables are easily converted both to PDF and docx with pandoc. The stargazer package (which can be seen as a similar tool for the purpose of model rendering) produces LaTeX code, and thus works (automatically) only for conversion to PDF. So

[2013-06-10 21:50] #39 closed, assigned to nobody

[2013-06-16 18:15] kovla opened #47 "Long (default) caption rendering a glm model prints the table twice"
I think I've stumbled upon a bug. I have a glm model which is contains multiple dependent variables, something like this

`model <- glm(dependent ~ independent1 + independent2 + independent3 + independent4         + independent5 + independent6 + independent7,data=mydata,family=binomial)`

Now, when I `pander(model)` it, the table with model coefficients is printed twice. It is not wrapped or broke

[2013-06-16 19:55] #47 closed, assigned to nobody

[2013-07-16 06:22] pacodea opened #48 "4 asterics (****) appear when formatting tables with nested rows"
I would like to use pander in combination with packages that generate complex tables like `etable` or `tables`, but when tables have categories with nested rows, pander formats empty row headers writing ****. The following is a simple example.

Thanks for your great package.

library(pander)

text <- '# A table with `etable` + `pander`
<% require(etable) %>
Number of cases is <%= (n <- 100) %>
<%

[2013-07-16 11:42] pacodea opened #49 "Internal `pander` error: `arguments imply differing number of rows: 2, 3`"
Running the function `Pandoc.brew` with a file with the next code

<% library(etable) %>
<%
n <- 1000
ddff <- data.frame(escala=factor(sample(1:5, n, replace=TRUE), labels=c("1.- Escala 1", "2.- Escala 2", "3.- Escala 3", "4.- Escala 4", "5.- Escala 5")), sexo=factor(rbinom(n, 1, 0.4), labels=c("Men", "Women")), n=rep(1, n))
%>

<%
tabla <- tabular.ade(x_var="escala", rows=c("escala", "ALL"), rnam

[2013-07-16 12:55] #49 closed, assigned to nobody

[2013-07-16 13:00] #48 closed, assigned to nobody

[2013-07-19 15:30] pacodea opened #51 "Alignment in cells in pandoc.table"
I'm working with tables in `pander` and I noted that cell alignment does not always work properly. I'm copying an example with a character table. The cells in the html file are always left-aligned. Maybe the problem is in the column widths in the markdown file.

Regards.
######

library(pander)

panderOptions("table.split.table", Inf)

text <- '<% library(etable)

data(Titanic)
titanic <- as.data.

[2013-07-19 18:19] #51 closed, assigned to nobody

[2013-08-08 13:06] nagydaniel opened #53 "function problem in template (object named as existed function)"
[code]

[2013-09-08 12:58] trinker opened #54 "HTML tables with pander"
I have been playing with examples using `pander` and am curious how to make nice html tables with `pander` in an Rmd file with knitr.

**So here's a comparison:**

https://dl.dropboxusercontent.com/u/61803503/Errors/pander_comparison.txt

(sorry don't know how to post and Rmd MWE without it being parsed by github)

**and the output:**

https://dl.dropboxusercontent.com/u/61803503/Errors/test.html

[2013-09-08 21:24] #54 closed, assigned to nobody

[2013-09-14 22:17] rnorberg opened #56 "Pandoc.convert(<path/file.md>, format="docx") no longer pulls figures into the .docx"
As stated in the title, calling Pandoc.convert() to convert a markdown file into a docx file no longer drags the figures into the docx.

[2013-09-15 07:30] #56 closed, assigned to nobody

[2013-09-24 14:00] #53 closed, assigned to nobody

[2013-10-17 07:05] cocinerox opened #57 "Pandoc.brew creates unnecessary png-s"
`Pandoc.brew(text="<%=0%>",output="x.md")`

creates

`/plots/x.md-1.png` (what is a white square).

Cheers, L (Ps: Meet you in a week!:)

[2013-10-17 09:15] #57 closed, assigned to nobody

[2013-10-25 12:03] cocinerox opened #58 "Feature suggestion: make image capturing optional (default=TRUE)"
For long codes constant image capturing can take a significant amount of time:

[code]

[code]

I suggest a global option to allow/suppress image capturing, that can be overwritten locally with a function call in a code chunk.

[2013-11-07 11:57] stla opened #60 "not support newlines in Rmarkdown format"
Hello,
For such a table:

[code]

`pandoc.table()` returns this message because some names are too long:

[code]

However I don't ask to put newlines in the table, so why does the function defines some newlines ? I can get a perfect rendering (after html converting) of the table I want as follows:

[code]

[2013-11-09 12:10] #60 closed, assigned to nobody

[2013-11-17 13:12] #58 closed, assigned to nobody

[2014-03-18 17:29] karthik opened #64 "Add a github markdown for pandoc.table"
I use `pandoc.table` to generate tables in markdown for publication. Using pandoc, it works great. However, the table in the markdown file itself looks horrible. Using `style = "rmarkdown"` on GitHub doesn't work because you're adding extra `:` in the delimiter line. Deleting those works fine. Maybe add another style?

[2014-05-23 11:41] #64 closed, assigned to nobody

[2014-05-23 12:54] dcomtois opened #66 "Option for plain-ASCII output"
It would be very useful for me to have the option to generate plain-ascii tables without any markup characters such as 'nbsp;' or '**', so that the output can be copied and pasted from the R console to a plain text editor. Many thanks for the great work!

[2014-05-27 12:22] #66 closed, assigned to nobody

[2014-06-02 22:58] dcomtois opened #76 "some row names not displayed when plain.ascii=TRUE"
Seems that b, n, p & s are a little shy...
`pander(as.data.frame(letters), plain.ascii=TRUE)`

---------
 letter
---------

[code]

[2014-06-09 08:39] #76 closed, assigned to nobody

[2014-06-09 08:58] #46 closed, assigned to nobody

[2014-06-09 20:58] dcomtois opened #86 "Justification issues when style="simple""
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2014-06-13 17:57] dcomtois opened #89 "Adding support for manual line breaks in multiline tables"
It would be nice having the option to interpret \n in multiline tables. For now as far as I know \n is ignored and "table.split.cells" is fully in charge. Just throwing that idea out there, but maybe to avoid conflicts, this could be activated if and only if table.split.cells = Inf ?

[2014-06-19 20:07] #89 closed, assigned to nobody

[2014-06-23 06:49] daroczig opened #94 "lm.summary"
A [recent question on SO](http://stackoverflow.com/questions/24359744/r-pander-sink-stack-full-when-printing-summary-lm)  showed a rather dummy error in `pander`:

[code]

This is because we call `summary` for `lm` objects. Probably we should also have a `summary.lm` pander method, and we should call that inside of `pander.lm`... @RomanTsegelskyi: can you please fix this or should I?

[2014-06-25 14:54] #86 closed, assigned to nobody

[2014-06-27 19:04] #94 closed, assigned to nobody

[2014-07-16 15:56] rnorberg opened #102 "Add caption.placement option"
It would be neat if there were an additional option to place the caption above the table instead of beneath it. Using such an option might look like this:

[code]

I suggest the name caption.placement because the package xtable has an option named that, but I suppose it could be called anything.

[2014-07-17 15:12] #102 closed, assigned to nobody

[2014-07-17 15:14] #36 closed, assigned to nobody

[2014-07-18 08:13] kovla opened #103 "The covariate.labels=... option doesn't work when rendering GLM models"
[code]

Two last lines produce an identical result, which is not as intended.

[2014-07-18 16:22] hmaeda opened #104 "Knitr kabel/pandoc/pander custom cell formating"
pls see http://stackoverflow.com/questions/24827951/knitr-kabel-pandoc-pander-custom-cell-formating

[2014-07-21 23:15] #103 closed, assigned to nobody

[2014-07-29 15:18] humburg opened #112 "Incorrect formatting of numbers in scientific notation"
When generating output with a call to `p` trailing zeros are removed from the exponent  for numbers in scientific notation if the base contains non-zero decimals. For example, `p(1.2e-60)` produces `"_1.2e-6_"` but `p(1e-60)` and `p(1.0e-60)` are fine.

I first noticed this in the pandoc output from an htest object because the p-vale was way off. So this more than a little inconvenient.

Edit: Loo

[2014-07-29 22:17] #112 closed, assigned to nobody

[2014-08-26 21:32] GarenSidonius opened #115 "Option to remove row label emphasis in tables"
See https://stackoverflow.com/questions/24090573/how-to-remove-the-emphasis-characters-on-row-names-when-using-pandoc-in-r

This option is important because professional tables typically do not have bolded or italicized row labels (e.g., see examples in Ch. 3 of Chicago Manual of Style). The response on StackOverflow suggests a workaround, but pander will be more useful if it can produce professio

[2014-08-30 07:25] #115 closed, assigned to nobody

[2014-09-08 09:32] vlsi opened #116 "Segmentation fault when pandoc.table justify contains less columns than the actual table"
Here's step by step.

Macos, pander from github.
The fail reproduces with both `data.table` and `data.frame`

[code]

[code]

[2014-09-08 13:39] #116 closed, assigned to nobody

[2014-09-14 16:32] vlsi opened #117 "Pandoc$add(ggplot) does not work inside function"
I try to use R5 as a workaround for "undebuggable `.brew`".
When `pandoc$add` is used inside a function, the chart is silently ignored.

Here's the testcase (note that the chart is not rendered):

[code]

This works as expected:

[code]

[2014-09-15 12:28] #117 closed, assigned to nobody

[2014-09-15 14:08] vlsi opened #118 "Provide an option to pick image name when using R5"
Currently pander uses `plots/report-N.png` naming and it seems there is no way to use meaningful names for the plots.

I am not sure if `evals(graph.name=...)` will do the trick, however this parameter is not passed when using `R5`

[2014-09-15 14:23] vlsi opened #119 "Print error message and backtrace when using R5 API"
Here's testcase: the chart is using `z` column that is intentional so `ggplot` will fail when trying to render the chart.

Note that `report.md` includes no signs of the error.

The same applies for `Pandoc.brew`: it does not provide backtrace and it just tells you "there is an error in BRCODES"

[code]

[2014-09-15 14:23] #118 closed, assigned to nobody

[2014-09-15 23:30] #119 closed, assigned to nobody

[2014-09-18 12:40] bowerth opened #120 "add ggplot unify to jrnold/ggthemes"
Hi Gergely,
I'm a big friend of the unified pander plot theme and would like to use it as a ggplot theme outside pander.
Therefore, I would be grateful if this could be added to https://github.com/jrnold/ggthemes
Many thanks,
Bo

[2014-09-18 15:46] hadley opened #121 "Use knitr::asis_output"
So you don't need explicit `results = "asis"` when including pander output in knitr documents.

[2014-09-18 23:06] #121 closed, assigned to nobody

[2014-09-21 13:14] #120 closed, assigned to nobody

[2014-10-03 08:41] vlsi opened #122 "Support portable.html in R5"
Can you please support passing `portable.html` via R5 `$export`?

[2014-10-04 20:26] #122 closed, assigned to nobody

[2014-10-29 09:01] daroczig opened #123 "Rcpp compiler warnings"
[code]

[2014-10-29 09:36] #123 closed, assigned to nobody

[2014-11-06 19:31] captbrando opened #126 "Pander ANOVA Summaries do not respect Caption"
Using the latest version here (in CPAN). I am trying to suppress the auto-caption that occurs when running pander(summary(SomeANOVAResult)). Regardless of caption=NULL or set.caption(NULL) earlier on, it still prints: "Table: Analysis of Variance Model"

All other pander tables thus far respect the NULL.

[2014-11-06 20:26] #126 closed, assigned to nobody

[2014-11-07 18:33] ctoforaday opened #127 "Allow panderOptions() to specify a path to the binary"
It would be _awesome_ if it were possible to specify a particular location for pandoc that isn't on the path.

Specifically, at
https://github.com/Rapporter/pander/blob/b48fc68a51e98ec633f695463663868aeb5a040b/R/convert.R#L119

we build the string we execute, with the name of the binary.  Any chance of just allowing the user to specify it in panderOptions() and paste() the string together?

[2014-11-07 19:47] ctoforaday opened #128 "Various references to AGPL still exist, even though the license was changed to OSL 3.0"
Three more references exist to the license being AGPL that need to be changed over.

[2014-11-07 23:17] #127 closed, assigned to nobody

[2014-11-10 20:55] #128 closed, assigned to nobody

[2014-11-11 12:10] JulianBo opened #129 "Issue with Pander+Knitr: Error when using pander.list (possibly related to auto.knitr.asis)"
See: http://stackoverflow.com/questions/26863406/issue-with-panderknitr-error-when-using-pander-list?noredirect=1#comment42288001_26863406

[code]

[2014-11-11 14:15] #129 closed, assigned to nobody

[2014-11-12 00:43] daroczig opened #130 "Multiple captions results in repeated tables"
This is weird:

[code]

[2014-11-15 23:52] #130 closed, assigned to nobody

[2014-11-15 23:57] #104 closed, assigned to nobody

[2014-11-15 23:59] #17 closed, assigned to nobody

[2014-11-18 15:50] dmenne opened #131 "Replace all NA with """
Is there a way to replace all NA with "" in pander/pandoc?

[2014-11-18 23:34] #131 closed, assigned to nobody

[2014-11-19 09:51] dmenne opened #132 "Column alignment in pandoc.table (and friends)"
I am currently switching to pander for most of my formatting, because it provide such a great pandoc support. One of the things I am not so happy with is the default center-alignment. Marketing people love it, but for technical reports it is an horror.

The best choice used by Hmisc is to use left alignment for texts and dates by default, and right alignment for number of all type. I am aware that

[2014-11-19 10:02] #132 closed, assigned to nobody

[2014-11-21 11:48] alexploner opened #133 "emphasize.rownames=FALSE does not work with split tables"
Using pander 0.5.2, I can't seem to be able to switch off bold row names:

[code]

If I cut down on the columns, so the table gets shorter and does not split, it works:

[code]

and the same with setting `split.table` large enough:

[code]

[2014-11-21 13:02] #133 closed, assigned to nobody

[2014-11-22 05:20] dcomtois opened #134 "plain.ascii not working when table is split"
Hi Gergely & friends,

Just came across this issue... It seems the `plain.ascii` option is ignored when the table width is larger than what is specified by the `split.table` option.

[code]

Now with `split.table = Inf` :

[code]

Let me know if I can help in any way.

[2014-11-22 23:18] #134 closed, assigned to nobody

[2014-11-24 10:01] daroczig opened #135 "1D "CrossTable""
@RomanTsegelskyi if you have some time, can you please check your initial `pander.CrossTable` implementation? I've just came by a trivial error that is not handled:

[code]

[2014-11-24 15:34] alexploner opened #136 "emphasize.rownames=FALSE and set.alignment generate error"
Windows 7, R 3.1.1, pander 0.5.2

Trying to show a matrix with named rows and columns with un-emphasized row names after setting the cell alignment produces an error:

[code]

FWIW, unsetting either row- or column names of the matrix avoids the error:

[code]

[2014-11-26 10:02] #136 closed, assigned to nobody

[2014-11-26 15:29] alexploner opened #137 "Unexpected override of global options by set.alignment"
Not a bug, but an unexpected behavior that IMO makes the global/local option setting in pander less intuitive.

I generally like my row names left-aligned, so I set a global option at the top of my script. This works as expected:

[code]

Then I have a number of other tables that use default alignments, and all is fine. However, at some point I want to override the default alignment for the data c

[2014-11-28 15:28] rubenarslan opened #138 "missings in table"
I think this should just work:

`pander(table( c(85>84,NA), exclude=NULL))`

but it fails with

[2014-11-29 22:27] #137 closed, assigned to nobody

[2014-11-29 23:41] #138 closed, assigned to nobody

[2014-12-03 07:35] #135 closed, assigned to romantseg

[2014-12-07 03:44] dcomtois opened #141 "nsmall formatting option"
Ever thought of including format's `nsmall` option to the pander options list? (Indicates minimum number of digits to display so that 2.00 doesn't become 2, for instance). I'd certainly use it!

[2014-12-11 13:03] mathematicalcoffee opened #142 "function `pander` when nested in another function in a knit chunk does not cat output."
Reproduced this with pander 0.5.1 (on CRAN) and then again with 0.5.2 (using `install_github`), and knitr 1.8 (from CRAN).

I have a function which uses `pander` to print a model.

This works as expected:

[code]

This doesn't (it produces just the paragraph "Next paragraph", omitting the `pander(x)` output)

[code]

To fix it you have to surround the `pander` call in `cat`:

[code]

Then you get

[2014-12-17 07:37] #142 closed, assigned to nobody

[2014-12-17 10:31] JulianBo opened #143 "Automatically detect names-attribute or one-dimensional dimnames-attribute at pandoc.table"
When pandering a summary of a single-vector or a one-dimensional-table, pander() will not print column-headers. I suspect this is because there is only a one-dimensional dimnames-attribute or only a names-attribute. This can be circumvented with rbind(...), but it would be good to detect it automatically.

[code]

[code]

[2014-12-17 11:14] #143 closed, assigned to nobody

[2014-12-22 00:53] huashan opened #144 "incorrect column width with Chinese characters"
Hi, I recently encounter this problem after several updates of pander (now is 0.5.2). I couldn't figure it out. Below is the demo code, see the extra white space around the Chinese string and column width is broken.

[code]

[2015-01-05 16:02] mattsigal opened #146 "Formatting by Column/Row"
I recently switched from xtable to pander, and am really impressed with this package.  Thanks so much for your work!

In the transition, I've come across two issues which I'm hoping to get your input on:

1) In xtable, I could supply a numeric vector to digits to apply them to each column, respectively.  For example, I could supply digits = c(0,1,2,3) to have the first column have 0 decimal places

[2015-01-05 16:07] daroczig commented on #144
@RomanTsegelskyi, did you have some time to check this issue in more details? If not, no problem, just let me know. Thanks!

[2015-01-06 12:25] RomanTsegelskyi commented on #144
I am sorry, I didn't have much time to look into it. I hope to have more time upcoming days.

[2015-01-15 16:24] MikeKSmith opened #147 "pander method for tabular object"
The tabular package has methods for producing HTML or LaTeX output tables, but not markdown. Pander can format basic (non-nested) tables from tabular if you convert first to matrix (this is kind of a cheat!). However the nested tables that tabular can generate present a problem.
e.g. tabular(as.factor(am) ~ (mpg+hp+qsec)*(mean+median), data=mtcars)

[2015-01-15 20:20] RomanTsegelskyi commented on #144
@daroczig. I have explored more and I am not sure how the issue can be fixed.
First of all, v0.3.8 does not seem to work for the examples given.
[code]
In general the problem, IMHO is how to determine printing width for string with CJK characters.
For example, for string '一个很长的中文中文中文中文中文中文中文中文字符串' `nchar(..., type='width)` returns printing width of 48. But it's this string does not have the same p

[2015-01-15 23:35] daroczig commented on #147
Thank you for this report. Can you please elaborate a bit more on how to improve `pander` to handle `tables::tabular` objects?  Currently, your proposed `matrix` hack seems to work on your example as well:

[code]

Do you miss the highlighted col/row names, or you would like to simply avoid the `matrix` hack and let us `pander` do that extra step automatically? Unfortunately the limitations of mar

[2015-01-16 13:49] MikeKSmith commented on #147
Many thanks for your prompt response.

I realise that there's a limitation with markdown for spanning tables - it's a shame, but an understandable "feature" given the possible levels of complexity.

Would it be at all possible to define a numeric value for the number of rows / columns in the "header" to define where the numeric values in the table lie in order to get *some* formatting back? For ex

[2015-01-16 20:18] daroczig commented on #147
So you want the following two lines to behave as the table header?

[code]

And having the rest as the normal table body, so something like this:

[code]

Please note that the extra `\`chars are needed for `pandoc` as hard line-breaks.

[2015-01-16 20:24] daroczig commented on #146
Thanks for the great ideas.

Unfortunately the 2nd one will not work, as the style and markup of the table structure is really strict, and there's not much option to add/remove lines it. Please see more details in the [Pandoc's markdown manual](http://johnmacfarlane.net/pandoc/README.html).

But the 1st suggestion should work, I'll be happy to start working on it -- although probably not in the ne

[2015-01-17 00:45] MikeKSmith commented on #147
Thanks. That looks about right...

[2015-01-17 09:00] MikeKSmith commented on #147
Thanks - that looks good.

Sent from my iPad

[2015-01-17 21:34] daroczig commented on #147
If you can provide a few extra examples on `tables::tabular`, probably I can come up with a generalized solution, which could be automatically applied to all similar objects, without calling the above workaround.  Do you think it's possible? E.g. the number of "header rows" is always 2? Or it can be found somewhere in the object or guessed? It seems that some `attr` can be very helpful here, e.g.:

[2015-01-17 22:02] daroczig commented on #144
Not sure. These look fine in my console, although when I copy to the GH comment, the widths are not OK. Probably I'm using some auto-magical fonts on my localhost :)

Quick demo:
![nchar48](https://cloud.githubusercontent.com/assets/495736/5790488/c0ba54a6-9e9b-11e4-8c05-914789dbdb67.png)

The `abcd` demo:
![example1](https://cloud.githubusercontent.com/assets/495736/5790490/ea6e90fa-9e9b-11e4-953

[2015-01-19 23:06] RomanTsegelskyi commented on #144
I somehow missed the idea that it can be connected to a font. On Mac console everything works fine. Weird examples that I got were from RStudio console. I made a fix (#148) in C++ part, so now it looks like it gives same results as v0.3.8. What should we do with different fonts?

[2015-01-24 05:42] daroczig commented on #144
Thank you @RomanTsegelskyi, IMHO this is enough (I mean: great), as we cannot handle client-side issues (font) within the R package.

@huashan: can you please report back if it's working fine?

[2015-01-24 05:42] #144 closed

[2015-01-25 10:29] huashan commented on #144
Yes, I confirm it's working well with Chinese characters. Thank you @RomanTsegelskyi and @daroczig

[2015-02-10 15:07] unikum opened #150 "Method for the summary.table class"
Hi.

It would be nice if you add method for the `summary.table` class. Solution may based on the `print.summary.table` function from `base`.

[code]

[2015-02-20 10:50] konradedgar opened #153 "An additional functionality enabling production of beautiful summary tables obtained from the randomForest package"
It would be beneficial if *pander* could support production of beautiful summary tables from the random forest model output. The code below would illustrate how the pander could be used

[code]

[2015-02-22 21:57] daroczig commented on #147
I ended up using this thread as a test case for [GSoC 2015](https://github.com/rstats-gsoc/gsoc2015/wiki/pander).

[2015-02-22 22:00] daroczig commented on #153
Thanks, this is a really good suggestion. I won't be able to add this functionality to the package in the near future, but hopefully someone will work actively on the package via [GSoC 2015](https://github.com/rstats-gsoc/gsoc2015/wiki) this summer, so should be resolved in a few months. If not, then I'll take care of it, but first let's wait for some GSoC feedback.

[2015-02-23 07:49] konradedgar commented on #153
Thanks for showing the interest in this modest problem.

On 22 February 2015 22:01:02 Gergely Daróczi <notifications@github.com> wrote:

[2015-02-24 23:21] andrewcstewart opened #154 "Lists not rendering properly?"
I'm getting the following:

[code]

* a: [1] “hi” attr(,“class”) [1] “knit_asis” attr(,“knit_cacheable”) [1] TRUE
* b: [1] “bye” attr(,“class”) [1] “knit_asis” attr(,“knit_cacheable”) [1] TRUE

[2015-03-03 10:10] byzheng opened #156 "emphasize is not working for NA and empty string."
I am using the latest version in github.

My data.frame includes some missing values with NA. pandoc.table cannot generate the correct table when emphasize is used. I also find the same issue for empty string.

This is my minimum example to reproduce my problem.

	library(pander)
	df <- data.frame(x1 = c(1, 2, 3), x2 = c(1, NA, 3),
					 x3 = c('A', '', 'C'),
					 x4 = c('A', ' ', 'C'),
					 x5

[2015-03-10 05:47] daroczig commented on #154
Sorry for the long delay with my reply. Which version of `pander` are you using? It seems to work fine with the dev version here:

[code]

Although I've not tested the CRAN version for a long time.

[2015-03-10 06:04] #156 closed

[2015-03-10 06:04] daroczig commented on #156
Thanks for the bug report, it should be fixed with the recent commit. Pls let me know how it works for you.

[2015-03-10 13:35] sleepsort opened #159 "splitLine not passing test?"
It is quite weird that splitLine not working right.
I'm using R-3.1.2, and checked out latest commit (54a7adf385).

Following is the error report:

1. Failure(@test-helpers.R#69): splitLine with hyphening behaves correctly -----
"char-\nac-\nter" not equal to splitLine("character", 2, TRUE)
1 string mismatches:
x[1]: "character"
y[1]: "char-\nac-\nter"

2. Failure(@test-helpers.R#70): splitLine wi

[2015-03-10 14:50] sleepsort commented on #159
Hmm... seems that I didn't installed package "koRpus". But why, I didn't got any message about that :)

[2015-03-10 14:51] #159 closed

[2015-03-11 00:46] andrewcstewart commented on #154
Ah, I was using the CRAN version.  install via devtools works fine.  Thanks!

[2015-03-11 00:46] #154 closed

[2015-03-11 04:18] daroczig commented on #154
Thanks for the feedback -- I will try to push a new version to CRAN later this month.

[2015-04-10 12:45] plankter commented on #131
panderOptions('missing', '') is a very welcome addition. Could you tell please when version 0.5.2 will be available on CRAN?

[2015-04-10 18:47] daroczig commented on #131
@plankter sorry for the long delay with the CRAN update -- I will do some final checks this weekend and push it there.

[2015-04-19 15:01] iamovrhere opened #162 "Bug: Cannot Highlight/Emphasize Row and Columns in the same way at the same time"
Running:
[code]

I seem to be experiencing an issue with emphasizing rows and columns at the same time, but only the same way.

If either:

* Both `emphasize.cols(x)` AND `emphasize.rows(x)`  (or their arguments)
* Both `emphasize.strong.cols(x)` AND `emphasize.strong.rows(x)` (or their arguments)

are used concurrently, I consistently get:
`Error in pandoc.table.return(...) :
  Wrong number of pa

[2015-04-19 18:42] daroczig commented on #162
I'm just about to push an update to CRAN, but before that, can you please verify that these are working fine with the dev version (after installing from GH):

[code]

[2015-04-19 19:31] iamovrhere commented on #162
Verified with `0.5.2`: It appears to be working. Excellent work.

Very good library, by the way.

[code]

[2015-04-19 19:31] #162 closed

[2015-04-30 13:57] Chris-M-P opened #163 "Missing column and row title in CrossTable"
Thanks for an excellent package.

A minor niggle: column and row titles from `descr::CrossTable` appear to be missing. In this example:

    library(descr)
    CrossTable(mtcars$cyl, mtcars$gear, prop.c = FALSE, prop.t = FALSE, chisq = FALSE, prop.chisq = FALSE)

'mtcars$cyl' is the title for rows and 'mtcars$gears' for columns. When I run it through `pander`:

    library(descr)
    library(pande

[2015-05-06 09:54] Quiri opened #164 "split.table is not working"
The value supplied to split.table is not working correct. It already splits if the width is less. In my case it splits a 75 char table with split.table = 90. It doesn't split if i set the value to >95.

[2015-05-06 23:35] RomanTsegelskyi commented on #164
@Quiri, can you please give a reproducible example? That will make it easier to find out what is wrong

[2015-05-07 06:52] daroczig commented on #164
I suspect some Unicode character issue. @Quiri, although I suppose you do, but can you please verify that you are using the dev version of `pander`? And please post some reproducible example as Roman suggested.

[2015-05-08 08:00] #147 closed

[2015-05-08 08:00] daroczig commented on #147
@MikeKSmith Please try the development version and provide some feedback how you like the new feature introduced as the first step of GSoC 2015 by @RomanTsegelskyi

[2015-05-08 08:03] Chris-M-P commented on #163
I may be wrong on this, but it seems that Pandoc does not support column spanning cells, which would be necessary for a row with column titles - does this sound right? If so, I can't think of a good way in which a title row could be added.

[2015-05-14 16:23] RomanTsegelskyi commented on #163
@Chris-M-P thanks for reporting this issue. I think it is possible to fix it, I made a change in #165. Please have a look at it in RomanTsegelskyi/pander, if it's good, I will merge it

[2015-05-15 08:24] Chris-M-P commented on #163
That works fine, thanks.

[2015-05-15 14:45] Chris-M-P commented on #163
Sorry, I may have spoken too soon. It works well in html and doc, but with long variable names and full width tables it doesn't work well for pdfs. Unfortunately, I don't have an example I can share to hand. It may be an issue with the latex rendering of the table, where latex is making decisions about column widths and overriding the necessity to fit the variable names in without overlapping. Htm

[2015-05-16 03:46] daroczig commented on #163
@Chris-M-P my ultimate workaround on too wide LaTeX tables is usually tweaking (lowering) the `split.table` and `split.cells` options, or using some nifty table environment instead of the default one.

[2015-05-16 03:59] daroczig commented on #164
Okay, I tried to reproduce it with Unicode chars, quick example:

[code]

But:

[code]

How that comes?

[code]

So that's exactly 16 chars. But we split until up to 23 chars, so we need at least `split.table=24` not to split it. And this is not due to Unicode stuff as I first thought, but we are comparing column width **plus an extra 4 chars per columns** to the `split.table` argument in [pandoc.

[2015-05-16 18:29] mhminai opened #166 "Named integer vectors not printing as expected"
When I try to pander a named integer vector, I get just the integers, the names are removed.
MWE:
[code]
I would have expected pander to retain at least the "names" attribute as it usually contains relevant information. In my case I have a vector of sums of the columns of a data frame.
[code]

In this case, possibly a tabular format might be more suitable. I tried using the `as.table` function, bu

[2015-05-16 18:39] mhminai commented on #166
coercing to matrix seems to work.
[code]

[2015-05-16 19:55] daroczig commented on #166
Thanks for the report. I think has been already resolved with the development version of `pander`:

[code]

I'm just about to release a new version on CRAN, but having [some issues](https://stat.ethz.ch/pipermail/r-devel/2015-April/070981.html) with `R CMD check` -- that hopefully I will be able to resolve soon. Until then, pls use the dev build, and re-open this ticket if you still face the same/

[2015-05-16 19:55] #166 closed

[2015-05-18 17:04] HJAllen opened #167 "pandoc.table empty cells"
pandoc.table is removing empty cells.  I am developing a document in RStudio using rmarkdown.  Part of the document is a signature page.  i have a function to create a data.frame from supplied names and titles.  I am trying to use empty cells to keep vertical spacing between each name for actual signatures.  When using pander to render table to a .docx, all of the empty cells have been removed.  I

[2015-05-18 22:55] cocinerox commented on #167
Try `'\\ '` instead of `' '`.

[2015-05-20 05:36] daroczig commented on #167
Good question! But this is how `pandoc` transforms markdown to HTML/PDF/etc., so it's out of the scope of `pander`. But we also faced this issue, and found in the [`pandoc` manual](http://pandoc.org/README.html#extension-escaped_line_breaks) that trailing space and empty lines are ignored, so you either disabled that (with bunch of unexpected results) or use the workaround (hard line breaks) as @c

[2015-05-20 05:36] #167 closed

[2015-05-20 07:45] cocinerox commented on #167
Actually, if I'm right, the `'\\ '` is parsed as a [nonbreaking space](http://pandoc.org/README.html#extension-all_symbols_escapable) thus the cell will not be empty just invisible. Hard line breaks can be used within cells, e.g. `'first line\\\nsecond line'`.

[2015-05-20 08:05] daroczig commented on #167
Oh, I did not realize that the example has empty cells -- I though it has empty lines in the same cell below the signature line, something like:

[code]

This works fine after e.g. HTML conversion.

Sorry for the confusion, I though @cocinerox referred to this -- probably because for non-breaking space, I always use `&nbsp;`, which worked fine with all document formats so far :)

Anyway, I think I

[2015-05-29 14:25] BrianDiggs opened #172 "Deprecated warning in pander.sessionInfo"
The following code

[code]

gives the warnings

[code]

This only happens with the default `compact = TRUE`, `pander(sessionInfo(), compact = FALSE)` throws no warnings.

[code]

[2015-06-01 01:38] petrelharp opened #173 "Pandoc.convert overwrites input markdown file"
Pandoc.convert if called on a markdown file, silently modifies the *input* file, by adding a footer. This seems to me to be bad behavior, and is not mentioned in the documentation, which says only that Pandoc.convert is used to "convert specified file [...] to other formats like HTML".

MWE:

1. Create a file called `test.md` with some text.
2. Call `pander::Pandoc.convert(f="test.md")`.
3. Note t

[2015-06-02 08:56] jubilatious1 opened #175 "Feature Inquiry: making long tables guttered-multicolumn (i.e. newspaper-style) ?"
Hello! Maybe I'm missing this completely. I see pander methods for taking wide tables and breaking them up, making them long. Are there pander methods for taking long tables and making them wide?

Here's an example, a data.frame with one state column and three data columns ( 4 columns total). Instead of printing this out as a table of 50 rows by 4 columns, can pander print this as side-by-side 2

[2015-06-02 12:59] RomanTsegelskyi opened #176 "Empasize.cols and emphasize.rows alters the data for empty cells"
While I was working on more tests, I saw an odd behavior that seems to be a bug

[code]
I added it to not forget to have a look at it later

[2015-06-04 14:55] RomanTsegelskyi commented on #176
After a bit more investigation it turns out that the problem is this [line](https://github.com/Rapporter/pander/blob/master/R/pandoc.R#L871).

Problem is that `apply` for rows returns a transposed `data.frame` which can't be assigned back. For example,

[code]

Looking at documentation for `apply`, it seems to be consistent
[code]
So it seems that when `apply` is only used for rows it should be tr

[2015-06-05 18:50] daroczig commented on #172
Thank you very much for this report. Pinging @RomanTsegelskyi as well.
This will be resolved by #171, hopefully in a week or so on GitHub.

[2015-06-05 19:03] daroczig commented on #175
That multi-column page layout is not supported by markdown, so this is not something generally available with all document formats, like Word, HMTL or PDF -- although some workarounds are possible with HTML or PDF. If you are interested in these, then this can be accomplished by some CSS in HTML and e.g. by the `colum` environment in LaTeX.

Otherwise you may try to do this with a potentially ugly

[2015-06-05 19:06] daroczig commented on #173
Thanks for spotting this! To be honest, I never thought someone will use `Pandoc.convert` per se, it was created to be used by `Pandoc.brew`, but you are right, this is a very bad and silly behavior.

This can be resolved for now by setting `footer=FALSE` in the `Pandoc.covert` call. In the future releases, I will make this as the default settings.

[2015-06-05 22:26] jubilatious1 commented on #175
Thank you Gergely!

Your "ugly" hack actually looks quite nice!  It seems advantageous seems when you want pander() to hard code the layout, not a downstream processing step.

I'll look at the LaTex "column" parameter as you suggest.

Best Regards, Bill.

[2015-06-05 22:26] #175 closed

[2015-06-05 22:41] daroczig commented on #175
I'm glad it was useful.

[2015-06-06 04:10] daroczig commented on #173
Another issue might be, that we force `utf-8` encoding before passing to `pandoc`, but this should not cause much trouble: https://github.com/Rapporter/pander/blob/master/R/convert.R#L74

Please reopen if that would be the case.

[2015-06-06 04:59] petrelharp commented on #173
I agree, overwriting the original file, even to convert it to `utf-8`, is not very nice.  Why not just do it with a temp file in all cases?

Hm, don't think I can reopen this myself.

[2015-06-08 22:02] shaneData opened #179 "lapply in pander help"
The R Markdown code below explains the output I am getting and the output I would like to get for an HTML file . For the example part that I would like to see as my output, I don't want to display the tables manually as I did. I would like to have pander() show tables in the correct output through lapply. I read https://github.com/Rapporter/pander/issues/16 but still have not had any luck. Any hel

[2015-06-09 05:29] daroczig commented on #179
What about the following based on disabling the `knitr.auto.asis` option:
* http://blog.rapporter.net/2014/09/pander-tables-inside-of-knitr.html
* https://github.com/Rapporter/pander/issues/142#issuecomment-66619769

[code]

Please let me know how it works for you and reopen if you face any issues.

[2015-06-09 05:29] #179 closed

[2015-06-09 06:13] daroczig commented on #172
Was fixed via #178 in the dev version.

[2015-06-09 06:13] #172 closed

[2015-06-09 06:16] #176 closed

[2015-06-09 06:18] daroczig commented on #163
Closing this. Please reopen with some more details so that we can identify if it's a `pander` or markdown issue.

[2015-06-09 06:18] #163 closed

[2015-06-09 06:18] daroczig commented on #150
@RomanTsegelskyi, interested in this?

[2015-06-09 13:23] shaneData commented on #179
Thanks for the quick reply, exactly what I needed!

[2015-06-09 22:13] RomanTsegelskyi opened #180 "Fails for empty data.frame"
While writing some tests, I realized that `pander` fails for empty `data.frames`.

[code]

This doesn't seem to be super important (similar errors are in `broom` and `ascii` packages, thought `xtable` works correctly), but I will still investigate for a fix in the meantime

[2015-06-09 22:46] RomanTsegelskyi commented on #150
@unikum I added support in #181. Please verify if that is what is needed

[2015-06-10 03:44] daroczig commented on #180
Nice catch!

I think the `xtable` behavior (printing the header as a one-row table) is a nice solution, although I am not sure if we should print anything for objects without a real header, like:

[code]

Probably I'd return nothing in such case. What do you think?

[2015-06-10 17:36] RomanTsegelskyi commented on #180
It turns out there is actually a [check](https://github.com/Rapporter/pander/blob/master/R/pandoc.R#L897) for empty `data.frames`, just it's done too late, since the failure occurs [earlier](https://github.com/Rapporter/pander/blob/master/R/pandoc.R#L830).

I like the current solution of assigning `NA` in case of empty object. And I agree that in case there is no header nothing should be printed,

[2015-06-11 08:07] #180 closed

[2015-06-11 17:36] #150 closed

[2015-06-11 17:37] daroczig commented on #150
I've just merged the pull request (this is an old ticket, probably we it's not that important for @unikum any more, so it might take some time to hear from him), thank you @RomanTsegelskyi.

[2015-06-11 17:38] daroczig commented on #153
Ping @RomanTsegelskyi

[2015-06-17 03:52] daroczig commented on #153
@konradedgar, @RomanTsegelskyi just added support for `randomForest` objects -- although not in tabular format. Please let us know some feedback on the result:

[code]

And if you can suggest a tabular version of this, then how it would look like. None of the `xtable`, `stargazer`, broom` packages provides examples on this.

[2015-06-17 03:52] #153 closed

[2015-06-19 15:42] RomanTsegelskyi commented on #164
Fixed in #186

[2015-06-19 15:42] #164 closed

[2015-06-23 10:50] jeroenooms opened #188 "Compiler warning"
[code]

[2015-06-23 16:43] daroczig commented on #188
Thanks, @jeroenooms.
@RomanTsegelskyi, can you please have a look? If not, just let me know.

[2015-06-23 17:00] RomanTsegelskyi commented on #188
@jeroenooms how is this connected to `pander`? File being compiled is `parser.cpp`, and there is no such file in the package. Also I checked for the line that give a warning and it is not from `pander`

[2015-06-23 17:16] jeroenooms commented on #188
Oops sorry you are right, copy-paste mistake :)

[2015-06-23 17:16] #188 closed

[2015-06-23 17:18] daroczig commented on #188
Thank you, guys \o/

[2015-06-30 14:38] dmurdoch opened #191 "sessionInfo() problem"
This document gives an error when processed:

    ---
    title: "Untitled"
    author: "Duncan Murdoch"
    date: "June 30, 2015"
    output: pdf_document
    ---

[code]
The first `sessionInfo()` is fine:

[code]

**R version 3.2.0 Patched (2015-04-28 r68272)**

**Platform:** x86_64-apple-darwin13.4.0 (64-bit)

**locale:**
en_CA.UTF-8||en_CA.UTF-8||en_CA.UTF-8||C||en_CA.UTF-8||en_CA.UTF-8

**att

[2015-06-30 21:38] #191 closed

[2015-06-30 21:42] daroczig commented on #191
Thank you very much for reporting this -- the bug was triggered by not having any "other attached packages", which triggered an error in `pandoc.list`. This should be fixed now.

Also, thank you very much for attending my tutorial today, it was a great honor to have your kind interest and company!

[2015-07-02 11:09] dmurdoch commented on #191
On 30/06/2015 11:42 PM, Gergely Daróczi wrote:

Thank you for the quick fix!  I was familiar with rmarkdown, but not
with pander:  it looks really interesting.

Duncan

[2015-07-02 11:57] daroczig commented on #191
Thank you very much for your kind words, I'd be more than happy to try to answer any question you may have. Best, Gergely

[2015-07-09 15:22] spmasterman opened #195 "pander table in loop"
pander doesn't seem to output a table when called in a loop

I have a large data frame (tradeSeries) that has a column 'drone' that is used to group the rows - I want to display a separate table for each 'section' of the tradeSeries, filtered by the unique values of drone

library(pander)
for (droneName in drones[,1]) {
  t <- tradeSeries[tradeSeries$drone %in% c(droneName), 3:9]
  pander(t, capti

[2015-07-09 19:20] daroczig commented on #195
A reproducible minimal example would be welcomed, but I suspect you have to disable the `auto.asis` option for `knitr` -- described at https://github.com/Rapporter/pander/issues/179#issuecomment-110228899

Please let me know if it works.

[2015-07-09 20:20] spmasterman commented on #195
Genius!

Thats exactly what I needed to do.

Many thanks - you just saved me a whole Friday of frustration :)

On Thu, Jul 9, 2015 at 8:20 PM, Gergely Daróczi <notifications@github.com>
wrote:

[2015-07-09 20:22] daroczig commented on #195
Thanks for the prompt feedback, I'm happy you found this useful.

[2015-07-09 20:22] #195 closed

[2015-07-10 17:48] RomanTsegelskyi commented on #146
Fixed in #190

[2015-07-10 17:48] #146 closed

[2015-07-17 17:15] RomanTsegelskyi opened #200 "add.significance.stars seems to work incorrectly"
Not a major issue, but seems that `add.significance.starts` option for `summary.lm` is not correct

[code]

[2015-07-17 22:20] BrianDiggs opened #203 "Error calling pander on empty data.frame"
# Summary

When `pander` is called with an empty `data.frame`, an error is thrown.

# Reproducible Example

[code]

# Expected Result

[code]

# Actual Result

[code]

## Traceback after error

[code]

# SessionInfo

[code]

[2015-07-17 22:27] BrianDiggs opened #204 "Error in pander on data.frame with no rows, multiple columns"
# Summary

`pander` called on a `data.frame` which has no rows and more than one column throws an error. There is no error for a zero row, one column `data.frame`, but the result is not right.

# Reproducible Example

[code]

# Expected Result

[code]
# Actual Result

[code]

## Traceback after error

[code]

# Session Info

[code]

[2015-07-18 15:16] daroczig commented on #203
Thanks for this report.

@RomanTsegelskyi, I thought it was resolved with 678c21bdd8f48e68a18620f66b7b718175f4b48b, can you please have a look?

[2015-07-18 15:18] daroczig commented on #204
I think this is resolved in the most recent dev version of the package:

[code]

@BrianDiggs, can you please verify this after updating e.g. via `devtools::install_github`?

[2015-07-18 15:20] daroczig commented on #200
Right, this extra emphasis is not needed, pls merge @201

[2015-07-20 15:05] BrianDiggs commented on #203
That commit does not seem to be part of pander 0.5.2

[2015-07-20 15:18] BrianDiggs commented on #204
Unfortunately, I don't (can't) have a complete dev environment on the machine I am using, so I can't test the development version.

I don't agree that the results you show are the correct/appropriate/expected ones; however, I will make that argument in a separate issue.

[2015-07-20 16:11] BrianDiggs opened #205 "0 row data.frame/matrix displayed as if they had a single NA row"
# Summary

A `data.frame` or `matrix` with no rows is displayed the same way as one with a single row filled with `NA`s. As theses are different things, they should be displayed differently.

# Discussion

In R, a zero row `data.frame` and `matrix` are well defined, and sometimes useful, constructs. Separately, a row in a `data.frame` or `matrix` can contain all `NA`s. This happens most frequently

[2015-07-20 16:52] daroczig commented on #203
@BrianDiggs yes, it's a newer commit -- but the most recent dev version of `pander` still has this bug, it seems -- despite the fact we tried to resolve this previously. I am sure @RomanTsegelskyi will have a solution for this in the near future, but if not, I will be happy to handle it as well.

[2015-07-20 18:19] daroczig commented on #205
Thank you very much for the thoughtful feedback.

Unfortunately, I am not sure about what should be shown for such empty table and we (@RomanTsegelskyi and I) came up with the idea of showing a row of `NA` in such case. Another solution might be not showing anything at all, as there's no data in the table -- only the header is there.

AFAIK, there is no support for a header-only table in Pandoc's

[2015-07-20 19:34] RomanTsegelskyi commented on #203
Fixed in #206. Problem was that for empty `data.frame`, `colnames` return vector of length 0 instead of `NULL` as it does for `matrix`.

[2015-07-21 03:25] RomanTsegelskyi commented on #205
Here is my 2 cents - something should be definately return, because silent failure seems like a bad practice. R does print for empty objects

[code]

However, I am torn between option 1 and 2, leaning a bit more towards second option, thought it still not very clear that table is empty

[2015-07-21 04:46] daroczig commented on #205
Another alternative might be to return ~nothing instead of `NA`:

[code]

None of these seems optimal to me :disappointed:

Let's try to come up with some better solution -- I try to ask around what other think about this.

[2015-07-21 05:25] RomanTsegelskyi commented on #200
Fixed by #201

[2015-07-21 05:25] #200 closed

[2015-07-21 06:51] BrianDiggs commented on #205
I agree that it should return something. The two precedents in R are to return just the headers (as a `matrix` does) or to return the headers and some sort of note (as a `data.frame` does)

[code]
The matrix behavior corresponds most closely to the second option (return just the headers, but as a row). If you could make a multi-column spanning cell with the text "`<0 rows>`" or similar, that would

[2015-07-21 17:38] daroczig commented on #203
Let's merge if tested.

[2015-07-21 17:41] daroczig commented on #205
Thanks for the feedback. Unfortunately col/row spanning is not supported in markdown :(

But if the "table" does not even have a header, we already throw a warning and return nothing else:

[code]

What about throwing a similar warning on empty tables with a header? We might first return the header in a normal table with strong emphasis and then the warning, something like:

[code]

What do you th

[2015-07-21 18:43] RomanTsegelskyi commented on #203
Merged #206

[2015-07-21 18:43] #203 closed

[2015-07-21 21:50] daroczig commented on #204
I'm closing this ticket and we can discuss the best approach to render these tables in the related #205 ticket. About dev vs CRAN version: there will be an update on CRAN no later then the end of August. Unfortunately, frequent updates on CRAN are not recommended.

[2015-07-21 21:50] #204 closed

[2015-07-24 12:43] Hjalt opened #207 "Extend support for {rms}"
Would it be possible to include support for the model objects (lrm, orm etc.) in Frank Harrell's rms package? In itself it supports LaTeX output for tables, but I would love to see support for output in markdown.

[2015-07-24 16:25] daroczig commented on #207
Sure! Can you please provide a list of the model objects with some examples how to generate those?

[2015-07-25 08:29] Hjalt commented on #207
All right, let's see. Here's an example covering a model fit with the `ols` function in the {rms} package. It should be noted that there are other functions, such as `lrm`, `orm`, `rms`, `Glm`, `cph`, and their output varies slightly.
[code]

[code]

[code]
[code]

[code]
[code]

Most of these print functions seem to be passed to `prModFit´ from ´Hmisc´. From the [vignette](https://cran.r-project.

[2015-07-27 18:06] RomanTsegelskyi commented on #207
Thanks for an extended example. I will work on it this week. `rms` has an interesting system for printing, where it `print.ols` (and other `print.*` functions), transform to some kind of intermediate representation to be passed to `prModFit´ from ´Hmisc´. I will try to look into how to print that IR using `pander`'s existing rendering facilities.

[2015-07-27 22:02] RomanTsegelskyi commented on #207
I implemeted a test version for `ols`.

[code]
It turned out a bit harder than I expected, because or complicated printing facilities in `rms`. `rms` delegates printing to `prModFit`, which in turn has different printing functions for different tables (like `prStats`, etc.).

Only thing I am not sure about is first table. Markdown doesn't support rowspan, so I am not sure how is best to recreate

[2015-07-28 04:24] daroczig commented on #207
Thanks a lot, @RomanTsegelskyi!

This is how the table renders in pdf:

![image](https://cloud.githubusercontent.com/assets/495736/8923403/6e81f6da-34a5-11e5-8a43-87ead69d5862.png)

It looks a bit strange, probably removing the space in the `Pr(> chi2)` cell would improve it a bit:

![image](https://cloud.githubusercontent.com/assets/495736/8923454/d96ad700-34a5-11e5-98f4-92eab0d9f0a9.png)

Still

[2015-07-28 08:16] Hjalt commented on #207
Very nice work! I actually do not have any issues with whitespace in my pdf output.

![](https://github.com/Hjalt/pander/blob/master/ols-default-test1.png?raw=true)

However, I think that the first table is currently somewhat missleading. It is in fact three different tables, where the first one give the number of observations, sigma, and degrees of freedom, whereas the second (which is now the he

[2015-07-28 21:20] RomanTsegelskyi commented on #207
@Hjalt, I totally agree, and that's why I am not completely satisfied with the first table. The only other idea I had was to break it into 3 different table, but that just blow output too much.

[2015-07-29 06:56] daroczig commented on #207
Not sure what's broken with my `pdflatex` then -- but I'm happy to see that the implementation is working fine :)

Anyway, to be constructive: what if we add an extra (~empty) column between the 3 tables to technically keep those in the same table, yet separate those a bit from each other?

Another idea might be to have only 3 columns, and not splitting the keys and values into two columns, but ea

[2015-07-29 13:51] Hjalt commented on #207
Yeah, I had that in mind too but I agree that its a lot of information. I think there is a good reason to present all the values. Even if I don't expect people to publish a paper with all that, for the most part they're valuable diagnostics of model fit and useful if you're writing up a lab report.

I vote for the second solution that you're proposing, i.e. combine the columns. It seems clear and

[2015-07-30 04:46] RomanTsegelskyi commented on #207
Here is implementation of idea with empty column
[code]

And here is the result somewhat similar to second approach that Gergely described (values are below the statistic)
[code]
In that case, rounding and formatting of numbers needs to be performed before `pandoc.table`, which will "override" `pandoc.table` formatting functionality. I am a bit torn, though second approach seems a bit better. Any

[2015-07-30 05:00] daroczig commented on #207
The empty column option looks pretty cool in PDF, but the other seems to be similarly good to me. I leave the decision on you, guys. Thank you @RomanTsegelskyi for the examples!

About the rounding/digits pre-processing: it shouldn't be that hard to apply the `panderOptions` on the numbers -- either by calling `format` in the S3 method, or applying `p` with `wrap=''`.

[2015-07-30 06:23] Hjalt commented on #207
They are both pretty neat! I think you should choose whichever options seems easier to implement for you.

[2015-07-30 13:31] Chris-M-P opened #211 "Update to CrossTable function in descr"
The author of the `descr` package has updated the `CrossTable` function to include options to remove row and column totals (see https://github.com/jalvesaq/descr/issues/2). However, `pander` reinserts the row and column totals. Would it be possible to update `pander` to take advantage of these options?

The author of `descr` suggests looking at the `CreateNewTab` function in `CrossTable.R`

[2015-07-30 16:57] RomanTsegelskyi commented on #211
@Chris-M-P thanks for reporting this. I will try to look into it this week

[2015-07-30 19:33] Chris-M-P commented on #211
Thanks
On 30 Jul 2015 5:57 pm, "Roman Tsegelskyi" <notifications@github.com> wrote:

[2015-07-31 00:17] RomanTsegelskyi commented on #207
In the end I went for second choice. I will try to implement support for other functions soon - #212

[2015-08-04 18:35] RomanTsegelskyi commented on #211
@Chris-M-P, I create #213, please have a look if it's okay and we will merge it then

[2015-08-05 01:32] carlganz opened #214 "Pandoc.brew not producing table of contents"
Hello Pander team,

I have a very simply .brew file, that works as I expect when I use the old brew function, but with Pandoc.brew the .tex file has an empty table of contents, and I get warnings saying "pander.return is deprecated. Use 'pander_return' instead."

It's a pretty short .brew file so I'll just paste it here:

[code]
If I understand correctly, Pandoc.brew should be able to do anything

[2015-08-05 04:03] daroczig commented on #214
`Pandoc.brew` is a modified version of `brew` -- with some differences. First of all, it is intended to use markdown as much as possible, and you do not need to `cat` the R objects/messages, but all R objects in the code chunks are automatically passed to `pander` to transform the object to markdown. Thus, no need to call `xtable` -- although it works fine if your required output format is PDF.

A

[2015-08-05 16:27] carlganz commented on #214
Thank you Gergely for your help here as well as for your help over on Stackoverflow. As you may have noticed, I am just learning how to use Pander, but so far I am extremely impressed.

Regards

[2015-08-05 16:27] #214 closed

[2015-08-05 16:58] daroczig commented on #214
Happy yo help, @carlganz, and thanks for your kind words.

[2015-08-06 08:06] Chris-M-P commented on #211
I've tested the updated package and it works fine

[2015-08-06 08:06] #211 closed

[2015-08-17 04:05] DaveJarvis opened #221 "Row Emphasis"
# Background

In markdown, it is possible to create the following table:

| Item          | MWh/y         | Use            | Cost      |
|--------------:|--------------:|:---------------|----------:|
| Farm          | **`-28309.3`**| Food           | **`7.2`**
| Wind Turbines | **` 29200.0`**| Electricity    | **`4.6`**
| Electric Grid | **`-15.5`**   | Power          | **`0.3`**
| Plumbing      |

[2015-08-17 04:17] daroczig commented on #221
That's an interesting proposal, thank you.

We currently have `emphasize.rows/cols/cells` for italics and `emphasize.strong.rows/cols/cells` for bold, so might easily add another set of options in `pandoc.table` and a new helper function like the current `emphasize.cells` for verbatim support.

But this might suggest to rename the current options a bit, e.g. we might have:
* emphasize.rows/cols/ce

[2015-08-17 22:26] RomanTsegelskyi commented on #221
This seems like a great idea. @daroczig, wouldn't renaming options be bad for backward compatibility?

[2015-08-17 23:45] daroczig commented on #221
@RomanTsegelskyi, sure it would :) But it's only the `emphasize.rows/cols/cells` what would change to `emphasize.rows/cols/cells.italics` -- and we can keep the old params/functions with the old names acting as the new ones (with a deprecated note in the docs), e.g.:

[code]

Well, this would result in even more arguments to `pandoc.table`, but IMO that's not a big deal.

[2015-08-18 22:36] RomanTsegelskyi commented on #221
Implemented in #222

[code]

[2015-08-18 22:42] RomanTsegelskyi commented on #205
@daroczig, should we go with your last suggestion for this issue? IMHO that seems reasonable and a bit better then current solution with NAs

[2015-08-19 03:27] daroczig commented on #205
Yeah, I have no better idea.

[2015-08-19 22:59] RomanTsegelskyi commented on #207
Merged #212

[2015-08-19 22:59] #207 closed

[2015-08-19 23:23] daroczig commented on #221
Thanks a lot, @RomanTsegelskyi, closing.
@DaveJarvis, please let us know how this works.

[2015-08-19 23:23] #221 closed

[2015-08-20 00:05] RomanTsegelskyi commented on #205
Fixed in https://github.com/Rapporter/pander/commit/b4b3b2ae4b537e584a2887090cfb871180127eca

[2015-08-20 00:05] #205 closed

[2015-08-22 23:48] DaveJarvis commented on #221
Brilliant. This will work just fine. Thank you.

[2015-08-24 18:14] Dris101 opened #224 "Missing blank line in single line multiline table"
As per the `pandoc` docs, a single line multi-table should have a blank line before the row of dashes that ends the table, otherwise the table may be interpreted as a simple table.
(see the docs for the `multiline_tables` extension)

[2015-08-24 18:29] Dris101 opened #225 "Enhancement request: Headerless multiline table"
Would it be possible to be able to pass a flag to `pandoc.table` to explicitly request a headerless multiline table?

[2015-08-24 19:55] daroczig commented on #225
Not sure. Can you please provide a use case when this would be useful? Currently, you can achieve this behavior by not having column names, e.g.:

[code]

[2015-08-24 20:01] daroczig commented on #224
Thanks for reporting this, much appreciated. A quick addition: this only happens if we have a one-liner `multiline` table without a header, e.g.:

[code]

[2015-08-24 22:48] Dris101 commented on #225
My use case was a bit weird. I wanted a table with a blank placeholder column. When I set the `names` to `NULL`, columns containing only whitespace are removed. Not worth you wasting a lot of time on this! It is something of an edge case! Great package by the way. Many thanks for your work.

[code]

[2015-08-24 23:14] daroczig commented on #225
Thanks for the example, now I see what's the problem. Unfortunately, this requires a further workaround, as `pander` removes empty columns (as the width of that is zero). But if you fill in the placeholder column with e.g. a non-breaking space, it should work:

[code]

Although I'd rather handle that at the print level:

[code]

Please let me know how this works for you. Meanwhile, I'll work on #2

[2015-08-25 04:28] #224 closed

[2015-08-26 16:33] pteetor opened #226 "emphasize.rows scrambles table contents"
This code demonstrates that emphasize.rows can scramble the contents of a table. Please notice that the contents of the formatted table are out of order. (This is version 0.5.2 of pander.)

         [,1] [,2]
    [1,]    1    6
    [2,]    2    7
    [3,]    3    8
    [4,]    4    9
    [5,]    5   10

    --- ----
    *1* *8*
    *6* *4*
    *2* *9*
    *7* *5*
    *3* *10*
    --- ----

[2015-08-26 16:54] daroczig commented on #226
Thank you very much for reporting this, but hopefully this was already fixed in the dev version at #177:

[code]

[2015-08-26 16:54] #226 closed

[2015-08-27 10:58] pteetor commented on #226
Gergely:

Thank you for responding so quickly! I apologize for raising an issue that was already solved.

Congratulations on creating pander. It's a wonderful package.

Paul

[2015-08-27 16:27] daroczig commented on #226
Hi Paul,

it's better to report an issue twice than never :)
And thank you very much for your kind words, highly appreciated.

Best,
Gergely

[2015-09-21 21:31] daroczig commented on #225
@Dris101, does the above example works for you as a workaround?

[2015-09-25 06:15] huashan opened #228 "Encoding mark and possible encoding problem with table.expand()"
Hi, I recently had a CJK encoding problem with `pandoc.table.return()`. Below is the reproducible code:

[code]

It turns out that the table head and cell text have differenct encoding. However, they are concatenate together and R doesn't aware the differenct encoding. There are possible automatic encoding coversions with calls to `gsub()`. Using `useBytes = TRUE` for `gsub` will solve the problem

[2015-09-25 07:27] daroczig commented on #228
Hi @huashan, running your example here returns:

![pander 228](https://cloud.githubusercontent.com/assets/495736/10095086/eaca2eca-631b-11e5-9344-6f42fcea676f.png)

I 'm not sure what's the problem with that markdown output. We already check byte-by-byte vs character-by-character comparison for the cell widths -- although I've never thought of an issue having multiple character encodings in the sa

[2015-09-25 07:40] huashan commented on #228
Hi @daroczig,

You got the results correct. What's your environment? I am using Windows 7 with Chinese locale and options(encoding = 'native.enc')

From the above code, all three columns of `a1` have encodings of 'unknown'

lapply(a1, Encoding)
# unknown unknown unknown

[2015-09-25 07:46] daroczig commented on #228
I'm on Linux with the most recent dev version of `pander`:

[code]

The `Encoding` is `unkown` except for the second column:

[code]

I will try this on Windows as well -- but until then, can you please paste the results of `pander` as text and as a screenshot as well?

[2015-09-25 08:07] huashan commented on #228
I've tested with `pander` version 0.5.2 and 0.5.3

![snap1](https://cloud.githubusercontent.com/assets/2095265/10095846/5bb92626-639f-11e5-89ec-9fec79ce08ab.jpg)

[2015-09-27 21:18] daroczig commented on #228
Unfortunately, I cannot get my old Windows XP installation to work with CJK characters, so I will need some more time to be able to debug this. Until then, can you please verify if the output renders fine or it has some issues after passing to `pandoc`?

[2015-12-03 15:41] kofm opened #230 "add.significance.stars output"
Hi,
when using the options `add.significance.stars` in pander() mehod the output is not well interpreted by pandoc that recognizes the asterisks as markup code for bold and italic fonts.
Here's a minimal example:

[code]

The last string ("Signif. codes") does not render well in PDF output as you can see here:
![image](https://cloud.githubusercontent.com/assets/12545394/11565004/54b20334-99dc-11e5

[2015-12-07 13:43] krlmlr opened #232 "pander.lm() and pander.summary.lm(): Reordering of coefficients"
The coefficient that appears first in the output of `summary.lm()` seems to appear *last* in the output of `pander::pander.lm()`. It looks like this is [by design](https://github.com/Rapporter/pander/blob/b20954089a92c788a2678c6925be811bf9bb0aac/R/S3.R#L318-L320), but this makes models without intercept look very awkward.

[code]

[2015-12-07 13:52] dmenne opened #233 "Bug or wrong use of panderOptions?"
Using current version of pander from github with the panderOptions line gives an error; everything is fine without.

    ---
    title: "Pandoc FTable"
    author: "DM"
    date: "7. Dezember 2015"
    output: html_document
    ---

[code]

[code]

[2015-12-08 04:16] realAkhmed opened #234 "pander conflicts with dplyr"
Hello everyone,

It appears there is an issue such that attaching `dplyr` impacts `pander` options. The code below fails to produce a valid PDF (the number is supposed to be displayed as `11,255,608` and not `11255608`).

    ---
    title: "Bigmark example"
    output: pdf_document
    ---

[code]

However, if you just remove `library(dplyr)` from it. It will produce the expected PDF with the num

[2015-12-08 05:25] #234 closed

[2015-12-08 05:26] daroczig commented on #234
Thanks for reporting this issue, which should be fixed with the above commit -- so please [install the development version](http://rapporter.github.io/pander/#installation) of `pander` and try:

[code]

[2015-12-08 05:30] realAkhmed commented on #234
Wow, that was fast! Checked the Github version and it indeed works correctly now. Thanks a lot!

[2015-12-08 05:52] daroczig commented on #233
Thanks for reporting this issue. Unfortunately, I do not have a quick fix -- as this is a rather complicated problem, and not sure about the optimal solution yet. In short, the function passed to `table.alignment.default` should be able to return a character vector for each column, which is 6 in the above example:

[code]

So 4 columns including strings and 2 columns including numbers, but the fun

[2015-12-08 06:01] daroczig commented on #232
Good catch, thanks for reporting this issue! The above (very trivial, but hopefully OK) commit should resolve this behavior -- looking forward to any feedback.

[2015-12-08 06:07] krlmlr commented on #232
Thanks. I'd prefer not to rearrange parameters at all (or at least make it optional), but you probably have a good reason to do this the way you're doing it.

[2015-12-08 06:08] daroczig commented on #232
@RomanTsegelskyi do you remember the motives behind moving the intercept to the bottom of the table?

[2015-12-08 07:46] dmenne commented on #233
Thanks, daroczig, for your as always fast and detailed reply. I will check (1) later, but manual formatting would be totally ok for me. However, all the experimenting started when I could not get it to work with ftable. Try (without any other options):

    # works
    pander(head(iris[,1:3], 2), justify = c('left', 'center', 'right'))
    # nothing happens
    pander(ftable(Titanic, row.vars = 1:

[2015-12-08 15:52] RomanTsegelskyi commented on #232
I can't recall the reason right away, so it might be my mistake when I was refactoring the implementation

[2015-12-08 21:32] daroczig commented on #232
I spent some time digging the git history and found d28cf55cd727464aeccb127f918f7e5ee792149f to be the related commit. This is due to #46, and we are moving the intercept to the bottom of the table as this looked appropriate based on the `stargazer` behavior.

@krlmlr @kovla does it make sense? Not sure if it's needed or not (personally, I do not care if the intercept is on the top or at the botto

[2015-12-08 22:07] krlmlr commented on #232
IMO, if some journals require this behavior, it's reasonable to support it as an option. Making it default confuses newbies that are used to R's output.

[2015-12-09 00:29] daroczig commented on #233
I think you had a typo in the second example (not closing the parenthesis for the `ftable` call) and this seems to work OK:

[code]

[2015-12-09 07:38] dmenne commented on #233
You were right, that error came up during experimenting. Here is what I see with your version:

	---
	title: "Pandoc FTable"
	author: "DM"
	date: "7. Dezember 2015"
	output:
	  html_document:
		keep_md: true

	---

[code]

[code]

![2015-12-09 08_35_08-pandoc ftable](https://cloud.githubusercontent.com/assets/506275/11679296/f2c11af2-9e4f-11e5-89cf-a9fa517372c2.png)

[code]

[2015-12-09 07:41] dmenne commented on #233
Seems to be a css problem. With some added css, formatting is fine:

table tr:nth-child(odd) {
  background-color: #e6e6e6;
}

td {
  padding-left: 3px;
  padding-right: 3px;

}

[2015-12-09 08:30] daroczig commented on #233
The markdown looks OK to me, but the HTML/PDF rendered document is indeed off. I suspect something with the `pandoc` conversion, that will require some further debug. Very interesting problem, thanks again for reporting it!

[2015-12-09 08:48] daroczig commented on #230
Sorry for the long delay with my reply -- thanks for reporting this, I hope the above commit resolves the issue. Looking forward to any feedback. Thanks, Gergely

[2015-12-09 09:17] daroczig commented on #233
As a quick workaround, you can use the `rmarkdown` style table, which works fine -- so I think this issue is related to no extra spaces around the "header" on the first line of the table. Will work on a fix. Note for myself: #186 and https://github.com/RomanTsegelskyi/pander/commit/d7da68674bab6151c8c110c1311f4fa03ffbe45b#diff-06d98d59ee432a4a652caa361f1bfda5R961

Quick demo on the workaround:

[c

[2015-12-09 09:39] dmenne commented on #233
Works for me. I always had assumed that rmarkdown was the default in pander when run in knitr.

[2015-12-09 20:40] tormodb opened #235 "Support for class Hmisc::summaryM or Hmisc::summary.formula.reverse"
The summaryM function in the Hmisc package by Frank Harrel is a great way to produce summary tables of continous and categorical variables by group. The objects created are of class summaryM (or summary.formula.reverse). It would be great if pander could support this class in a further update.

[2015-12-10 04:52] daroczig commented on #225
I suppose the above suggested workaround works fine, please reopen if not.

[2015-12-10 04:52] #225 closed

[2015-12-10 05:06] #173 closed

[2015-12-10 05:07] daroczig commented on #173
Sorry for the long delay with resolving this -- above fix should avoid any updates in the original md file.

[2015-12-11 09:46] kofm commented on #230
Thanks for the fix!
It appears to still have some problems.

[code]

Significance stars are not added anymore to the table and it also add another not needed empty column after Pr(>F).
Here's how the same output should be (imho):

[code]

Thanks again

[2015-12-11 22:21] #230 closed

[2015-12-11 22:22] daroczig commented on #230
Ah, right -- sorry for the above typo, it should be fixed now. Please note that the `add.signigicance.stars` feature does not replace the P values with stars, but instead adds a new column including the stars. Please let me know how it works for you.

[2015-12-11 22:49] daroczig commented on #235
Hey @RomanTsegelskyi, you already have some experience with `Hmisc` objects -- can you please have a look at this suggestion when you have a chance?

[2015-12-11 23:17] RomanTsegelskyi commented on #235
@daroczig, sure, I will try to look into it this weekend if I have time

[2015-12-15 08:15] #232 closed

[2015-12-15 08:15] daroczig commented on #232
Makes sense, done with the above commit:

[code]

[2015-12-15 23:00] RomanTsegelskyi commented on #235
@tormodb I had a look at `Hmisc::summaryM` and I have couple of questions:

* Are you interested in exactly the same output format?
* What options are most essential to be supported?

Also it seems to be that default print already produces somewhat similar to `grid` style in `pander`. While I understand that it not full support, I am just curious to know what are the primary features you are looki

[2015-12-16 12:29] tormodb commented on #235
@RomanTsegelskyi Great that you had a chance to look at it.

The primary purpose would be to be able to make it into something convertible to html-output (i.e. markdown formatting instead of grid), so it would be possible to use it for example with knitr in html, or doc-formats or as html slideshows.

[2015-12-16 12:46] kofm commented on #230
Works like a charm!
Thank you very much for your awesome work

[code]

[2015-12-16 18:46] daroczig commented on #235
@tormodb FTR the above grid-like table is already a ~valid markdown table, which can be transformed to HTML by `pandoc` (which is used in RStudio and `rmarkdown`) -- rendering something like:

![hmisc-grid](https://cloud.githubusercontent.com/assets/495736/11850456/3587bab6-a3e2-11e5-9c2e-d3f8a9bbe845.png)

[2015-12-16 18:56] tormodb commented on #235
Really? That is great news, but I have not been able to get that to work.
When I try to pass these tables to pander I get class not supporter (or similar) error. How would you pass a summaryM or summary.formula.reverse object to pander and get that into an object suitable for knitr?

On Wed, Dec 16, 2015 at 10:50 AM -0800, "Gergely Daróczi" <notifications@github.com> wrote:

@tormodb FTR the above

[2015-12-16 21:31] daroczig commented on #235
@tormodb if you are happy with the above results, then no need to pass the object to `pander`, as the default `print` function returns that grid-like table. So I think printing should be enough (with setting `results` to `asis` in the `knitr chunk).

[2015-12-17 09:36] tormodb commented on #235
Doh! You are of course right, I didn't think that pandoc could actually do this directly, and thought that I had to pass this trough pander or kable to make it output to markdown. There is only one cosmetic challenge in that the percentages are put into "block" with grey shade, I don't know if this is an css-issue or where this formatting comes from. (see attachment)

![shades](https://cloud.githu

[2015-12-17 19:44] daroczig commented on #235
I think the shades come from the indention in those cells -- markdown interprets this as 4-space rule, so considers the numbers as code in the grid-table. @RomanTsegelskyi might have a workaround for this in the forthcoming weeks.

[2015-12-27 05:31] daroczig commented on #228
I got temporary access to a Windows 7 machine, but could not reproduce this issue with the CJK characters. Can you please provide some more details with eg the locale you are using? A full `sessionInfo()` output would be helpful.

But I think if you set the `Encoding` for the column names as well, your above example will work fine. Quick demo:

[code]

Please reopen with more details if this is st

[2015-12-27 05:31] #228 closed

[2015-12-27 21:54] #233 closed

[2015-12-27 21:54] daroczig commented on #233
@dmenne I think it's fixed with the above commit, please let me know how it works.

[2015-12-27 22:14] daroczig commented on #233
Oh, and @RomanTsegelskyi, if you have some time, could you please have a look at the above commits and provide some feedback if you agree?

[2015-12-27 22:24] daroczig opened #236 "Update `rms` methods"
`rms` support was added in #207, but a recent update in the package broke functionality. @RomanTsegelskyi, can you please have a look and fix it? See eg https://travis-ci.org/Rapporter/pander/builds/99020762

I think an elegant solution might be to check the version of `rms` and support old and new versions (as for `ggplot2` in https://github.com/Rapporter/pander/commit/ce75329da31e9ea6a784e2fde25

[2015-12-28 08:24] dmenne commented on #233
Fine for me (I had already forgotten, because your workaround worked also).

Thanks for your Christmas present.

[2015-12-28 12:42] mrdwab opened #237 "`summary` with `as.Date` converts date to integer"
`as.Date` objects seem to require an `as.character` to suppress printing as integers when using `summary` in Pander 0.6.0

Quick demo:

[code]

Output is OK:

[code]

But:

[code]

Output is converted to integer:

[code]

[2015-12-28 12:43] mrdwab commented on #237
See: http://stackoverflow.com/questions/34493025/r-knitr-pander-how-to-nicely-format-summary-of-dates

[2015-12-28 18:30] daroczig commented on #237
Thanks for reporting this issues, which happens due to the behavior of `as.matrix` we used to standardize different tabular objects in 0.6. See eg:

[code]

versus

[code]

I'll think about the potential solutions for this.

[2015-12-29 05:23] daroczig commented on #237
It seems to me that converting all cells to character after taking care of the numeric values should work at https://github.com/Rapporter/pander/blob/master/R/pandoc.R#L952 -- will do some testing and push a fix in the next few days.

[2015-12-29 08:40] #237 closed

[2015-12-29 08:41] daroczig commented on #237
The above commit should do the trick:

[code]

Please let me know how it works.

[2015-12-29 09:52] mrdwab commented on #237
@daroczig Looks good! Extremely rapid response, once again :-)

[2015-12-29 14:12] rgayler commented on #237
Thanks @mrdwab and @daroczig. I confirm that works for me.

[2015-12-29 18:25] daroczig commented on #237
Thanks for the quick feedback, much appreciated.

[2015-12-30 02:27] rgayler commented on #237
I may have spoken too soon. It appears the fix has introduced a new problem. I am pretty sure the last example rendered OK before the fix (apart from the dates being formatted as integers).

I'm not sure what the protocol is for reopening an issue on GitHub, so I have attached it as a comment to issue #237:

[code]

[2015-12-30 06:59] daroczig commented on #237
@rgayler can you please post a reproducible example of the problem? I don't know that is `mq_cc`.

And did you install `pander` from GitHub via eg `devtools::install_github('Rapporter/pander')`?

Here `summary` seems to be OK with dates now:

[code]

If you can also share your `devtools::session_info()`, that would be also very helpful.

[2015-12-30 07:31] rgayler opened #238 "`pander` chokes on out put from `summary` of single variable containing some NA values"
This may be a consequence of the initial fix to issue 237. I am pretty confident it is a new behaviour.

'pander' nicely formats the output of `summary` applied to a single variable containing Dates.
However, it fails with an error message if there are any NA values in the variable.

Reproducible example:

[code]

[2015-12-30 07:36] rgayler commented on #237
Hi Gergely,

I have submitted a reproducible example as a new issue (#238). Sorry if
that's the wrong way to do it - I don't have any GitHub expertise.

devtools::install_github('Rapporter/pander')?

Yes, I did install from github, but I am running packrat at the moment, so
I had to install with packrat::install_github('Rapporter/pander')

I don't have devtools installed right now, so I put the ou

[2015-12-30 07:42] rgayler commented on #237
I have updated the github issue with devtools::session_info()

On 30 December 2015 at 18:36, Ross Gayler <r.gayler@gmail.com> wrote:

[2015-12-30 08:34] #238 closed

[2015-12-30 08:36] daroczig commented on #238
Thank you, @rgayler, for this very informative and helpful bug report -- the above commit should fix this issue. I never checked `print.summaryDefault` in the past, which source code was required to identify the problem here -- but your example made it very easy to track this problem.

I hope this works fine now, please report back if you see any side effects. Thanks again!

[2015-12-30 08:41] rgayler commented on #238
I have installed your updated pander and confirm that the reproducible example now works on my machine. Many thanks for your rapid response.

[2016-01-06 08:42] daroczig commented on #236
@RomanTsegelskyi, will you have some time to look into this?

[2016-01-06 23:23] RomanTsegelskyi commented on #236
@daroczig, sorry, I was travelling during the holidays, now back in Seattle and will look into all the issues this week

[2016-01-06 23:42] daroczig commented on #236
Sounds good, thanks for looking into this.

[2016-01-08 14:56] cborkenhagen opened #239 "Printing table dimension names in Pander"
Currently, `pander::pander.table` suppresses table dimension names. It would be very nice to have an option to include these in the output. Better yet would be an option to specify custom dimension names in the output, akin to the `dnn` parameter in `descr::CrossTable`.

[2016-01-11 19:09] RomanTsegelskyi commented on #236
After some exploration it seems to me that test failure was introduced by the regression in `rms`, for which I logged the issue (https://github.com/harrelfe/Hmisc/issues/38). The code we were using was provided as part of #207, so I changed the test example to use official exaples from rms documentation in #237, which might be more robust aganist changes in future.

[2016-01-11 19:24] daroczig commented on #236
Thanks @RomanTsegelskyi. Travis reported the `rmarkdown` package to be missing and thus the tests failing. Are you looking into this or should I?

[2016-01-11 19:40] RomanTsegelskyi commented on #236
It seems that new version of `knitr` is defaulting to `rmarkdown`. I added it to the list of recommended packages

[2016-01-11 19:59] #236 closed

[2016-01-11 20:02] daroczig commented on #236
Thanks a lot!

[2016-01-11 21:05] RomanTsegelskyi commented on #235
Sorry for postponing it for so long because of holidays.

So, I finally looked into implementing in as `pander.summaryM` method, and I am a hesitant to do that, since the that will almost identically duplicate `Hmisc::print.summaryM`. We had similar discussion about #207, but for those methods there was no markdown rendering, while for `summaryM` there is something close.

Inspecting code closer,

[2016-01-11 21:27] daroczig commented on #235
I totally agree: maintaining a copy of the `Hmisc` printing code in `pander` might be a real pain in the long run (as already discussed this in #207 and already had some issues with this approach), and post-processing the markdown table will be similarly painful, so if it's something can be handled in `Hmisc`, then let's keep it simple on our side.

@tormodb what do you think? As @RomanTsegelskyi

[2016-01-12 07:35] daroczig commented on #236
@RomanTsegelskyi, as per the referenced `Hmisc` ticket, it seems to me that the reported issue should not happen -- no? I mean Travis is installing the most recent version of `Hmisc` and `rms`, but in the ticket it was said that the most recent CRAN version of these packages should not fail. Now I am not sure if that's the case, so I'll leave this to you if any further follow-ups are needed or not

[2016-01-13 05:14] daroczig commented on #239
Sorry for the long delay with my reply, but I was thinking how to address this request. In short, you can already do this by passing `dnn` for `descr::CrossTable`, eg:

[code]

But this can be achieved with a standard `table` as well, but calling `ftable` on it before passing to `pander`:

[code]

As we are already using `ftable` inside of `pander`, it would be trivial to include the option to pas

[2016-01-13 08:37] tormodb commented on #235
This is probably a good solution, I am guessing the leading spaces in ```Hmisc``` may be related to the latex formatting option. It would be good to have this in pander, but I appreciate the complications related to maintaining that in future updates of Hmisc and other packages. Thanks for being so responsive and helpful though, and for a great package!

[2016-01-18 20:49] RomanTsegelskyi commented on #236
I still feel that it was connected with incorrect version of the `Hmisc`, because I can't reproduce it anymore after updaing `Hmisc`

[2016-01-18 20:50] daroczig commented on #236
Sounds good, thanks for the feedback.

[2016-01-26 21:47] chadbdot commented on #239
Thanks for the reply--and sorry for the delay in my own response! This is an easy workaround. Adding a `dnn` parameter for normal tables would still be nice if the implementation is easy, but obviously not a high priority.

Thanks for all your work on this! Really great stuff.

[2016-01-26 21:53] chadbdot opened #242 "Row and column names wrapped in quotes in pandoc.ftable output"
On my setup, `pandoc.ftable` wraps row and column names in quotes. Our conversations in other threads indicate that this isn't normal/desired behavior. Here's an example:

[code]

My `sessionInfo` is as follows:

[code]

Happy to provide additional details if need be. Thanks!

[2016-01-27 19:44] janthnyr opened #243 "Pander support for summary.felm from lfe package"
Package is lfe.

This package is very useful for high dimensional group fixed effects (econometrics sense of fixed effect).  It would be great to have pander tables for this summary method.

[2016-01-28 08:36] daroczig commented on #243
Can you please add a simple example for using `summary.felm` and also describe the required output? If all you need is to print the coefficients, like what we do with `lm` by default, it should be a simple addition to `pander`.

[2016-02-04 22:37] spedygiorgio opened #244 "issue with pander.mtable"
I fit three regression models (pc1wkPE, pc1wkVC, pc1wkNI) then generated an mtable object

oneweekModels <- mtable('PE backed' = pc1wkPE,
                        'VC backed' = pc1wkVC,
                        'Normal Ipo' = pc1wkNI,
                        summary.stats = c('R-squared','F','p','N'))

When running pander(onedayModels) I got
Error in dimnames(x$coefficients)[[3]] : subscript out of

[2016-02-05 16:10] RomanTsegelskyi commented on #244
Thanks for reporting the issue. Can you post `pc1wkPE`, `pc1wkVC`, `pc1wkN`, so we can have a reproducible case?

[2016-02-05 16:51] melff commented on #244
Dear all,
since memisc 0.99, the structure of "mtable" objects has changed, so that `pander.mtable()` is likely to be broken. I'll try to create a patch for this issue in the next days.
Best, Martin

[2016-02-07 16:05] spedygiorgio commented on #244
I confirm that mmelf fix closes this issues.

[2016-02-07 16:05] #244 closed

[2016-02-11 18:09] daroczig commented on #242
Can you please install the most recent dev version of the package from GitHub? I think you are running `0.6` from CRAN, which indeed seems to have this issue, but this was fixed in the dev version.

To verify which version you are running, instead of `sessionInfo`, use the `session_info` function from `devtools`, to install the dev version:

[code]

[2016-02-11 18:11] daroczig commented on #235
Based on the above discussion, I am closing this, as hopefully `Hmisc` will be able to provide the required output. Please reopen if that wouldn't be the case and we can try to come up with an alternative solution after all.

[2016-02-11 18:11] #235 closed

[2016-02-11 18:18] chadbdot commented on #242
Ok, I just installed the dev version and am no longer having this issue. Thanks!

[2016-02-11 19:07] daroczig commented on #242
Sounds good, thank you @chadbdot. Will push an updated to CRAN at around Q2.

[2016-02-11 19:07] #242 closed

[2016-03-09 14:20] JanSchulz opened #248 "Make it possible to hook into the output"
Currently it is not possible to get the output and display it as markdown without either using a wrapper function or setting some knitr options to get a `knit_asis` object. Unfortunately, the asis object doesn't work in the context of the Jupyter R kernel, as it lacks information what kind of content is in the asis object (html, latex, md,...)

To make it possible to consume the output of teh pand

[2016-03-09 14:32] JanSchulz opened #249 "Change default output when in the jupyter kernel"
The jupyter notebook unfortunately only understands the `rmarkdown` syntax for tables but not the `multiline` one, so it would be nice if this syntax is used when pander is running in an r kernel:

e.g. in the options.R `.onload`:

[code]

[2016-03-09 19:55] rjoomen opened #250 "pander.mtable does not work with memisc 0.99"
The following is example code from the `memisc `package. If I install `memisc `0.97 from cran this works fine. Starting with 0.99.3 (the next version after 0.97 that is available on cran), I get the following errors:

[code]

According to the NEWS file of `memisc`, both in 0.98 and 0.99 work has been done on the `mtable` function, which explains the how the error came to be.

[2016-03-09 23:59] daroczig commented on #248
Thanks for this proposal, which makes a lot of sense, but I will have to make sure that it doesn't break many things in the reverse dependencies -- as eg `brew`/`Pandoc.brew`/`rapport` requires stuff written to `stdout` without printing. Based on that, it's not as simple as described above -- so it might not happen within a few days. Anyway, it's a great idea and I will spend some time on these ch

[2016-03-10 00:10] #249 closed

[2016-03-10 00:10] daroczig commented on #249
Please see above commit -- let me know how it works.

[2016-03-10 00:14] daroczig commented on #250
I think this was addressed at #246 -- can you please install the development version of `pander` from GitHub and verify this? Thanks, Gergely

[code]

Resulting in:

[code]

[2016-03-10 00:14] #250 closed

[2016-03-10 08:33] JanSchulz commented on #249
Thanks, that helps! Reading the help file, maybe this should also be done when a knitr run is detected?

[2016-03-10 08:35] daroczig commented on #249
Not sure why should we default to the `rmarkdown` table format instead of the `multiline` inside of `knitr`. Can you please clarify that?

[2016-03-10 09:14] rjoomen commented on #250
Great, I can confirm it works again, also with my own code.
(Sorry for not checking out the development version or the past issues before reporting this error!)

[2016-03-10 09:15] daroczig commented on #250
Sounds great, thanks for the prompt feedback.

[2016-03-10 09:20] JanSchulz commented on #249
I got that impression from the help text:

Or is that specific to rmarkdown v1 vs v2? It seems that rmarkdown is nowadays the way knitr is used...

[2016-03-10 09:23] JanSchulz commented on #249
And just to confirm it worked:

In the current master notebook:

[code]

[2016-03-10 09:24] daroczig commented on #249
Ah, I see, thanks for the clarification. Yes, it's related to only to the intial version of `rmarkdown`, when the RStudio guys created an R package to transform markdown to HTML, which supported only the pipe table format -- and they changed at last to relying on `pandoc` since the [2nd version of `rmarkdown`](http://blog.rstudio.org/2014/06/18/r-markdown-v2/). So anyone using `rmarkdown` nowadays

[2016-03-10 09:24] daroczig commented on #249
Thanks for the feedback, @JanSchulz!

[2016-03-10 09:31] JanSchulz commented on #249
So it's the same problem with the notebook: it uses `marked` javascript lib to transform the markdown, not pandoc :-(

[2016-03-10 09:37] daroczig commented on #249
I see :(

AFAIK the old `rmarkdown` implementation used the Sundown C library: https://github.com/rstudio/markdown

But I'm glad they changed to `pandoc` after all -- I've been urging that since around ~2011 :)

[2016-03-10 09:43] JanSchulz commented on #248
Ok, I never considered that there more packages which do document conversations...

If this becomes a problem, this could be solved the same was as the mutiline vs. rmarkdown switch in the options:

[code]

[2016-03-10 09:50] JanSchulz commented on #249
Unfortunately, the notebook will probably never switch to pandoc in the browser side, so lets hope that there will one day be a javascript library which does the whole pandoc stuff :-/ But that would prbably require that the whole "table in markdown" mess is standardized first (http://talk.commonmark.org/t/tables-in-pure-markdown/81)...

[2016-03-12 00:10] daroczig commented on #243
@janthnyr is it something you still need? Can you please add an example use case and reopen the ticket?

[2016-03-12 00:10] #243 closed

[2016-03-12 05:26] daroczig commented on #248
@JanSchulz can you please have a look at the above PR and test with Jupyter? I am not sure if you need a character vector or concatenated string.

If it seems to work, then I will add some docs on this behavior and merge.

[2016-03-12 05:32] daroczig commented on #239
This idea came to my mind again and I was just about to push an update to `pandoc.table` to have `dnn` argument, but I realized that unfortunately we cannot have global support for that, only for 2+ dimensional tables, on which we call `ftable`. Based on this, I think this should remain outside of `pander`, so that you can use the `dnn` parameter while creating the table (via `table`, `ftable` or

[2016-03-12 05:32] #239 closed

[2016-03-12 09:00] JanSchulz commented on #248
This doesn't work :-( We need to have something which differentiates it from a plain character vector, so that we can treat it differently from such a vector:

[code]

[2016-03-12 10:12] daroczig commented on #248
@JanSchulz please check the updated PR based on that.

[2016-03-12 10:57] JanSchulz commented on #248
See the pr...

[2016-03-16 08:13] daroczig opened #252 "Travis-built gh-pages including wrong (absolute) path for includes"
See eg https://github.com/Rapporter/pander/commit/8fef7cec494e01f58e144033521beec55d3c77be, manually fixed at https://github.com/Rapporter/pander/commit/3d391c0d45bd202e202385881bc38bfbda645383

[2016-03-19 18:51] paulwasit opened #253 "custom cell format"
Hello,

As discussed on this [SO](http://stackoverflow.com/questions/35844032/custom-cell-format-in-pandoc-table-using-pander) question, it would be great to be able to format the numbers in pander.

Thanks ! Pander is fantastic :D

[2016-03-24 20:59] landroni opened #255 "please add cutoffs in add.significance.stars()"
Please add a `cutoffs=c(0.05, 0.01, 0.001)` argument to `add.significance.stars()`. Now the function defaults to the same cut off points as used in base R, `c(0.05, 0.01, 0.001)`, but in other contexts other values may be more suitable (e.g. `c(0.10, 0.05, 0.01)`.

[2016-03-24 21:12] landroni commented on #255
Here's my attempt at addressing this:

[code]

[code]

[2016-03-25 21:28] #252 closed

[2016-03-25 21:35] #255 closed

[2016-03-25 21:36] daroczig commented on #255
Thanks for this idea -- please see above commit & let me know how it works.

[2016-03-26 14:17] landroni commented on #255
Looks good! Thanks

[2016-04-13 18:46] ssinari opened #258 "Figure and table referencing"
Is it possible to do LaTeX style figure and table referencing using pander?

[2016-04-14 04:29] daroczig commented on #258
`pander` has no direct helper functions for this, as fig/table references are not part of [pandoc's markdown](http://pandoc.org/README.html). Although you can use any LaTeX commands in a markdown document if your output format is PDF, but honestly -- I'd rather go with eg `xtable` for more features if you are tied to PDF. Unfortunately, this feature is not supported in other document format as far

[2016-04-14 17:29] ssinari commented on #258
Hello Gergely,
Thanks for the quick response. Internal links in HTML are not that foreign.
Here is how it is done: example: <a href="html_tips.html#tips">Visit the
Useful Tips Section</a>. What needs to be done is the indexing part for the
fig/tables. I understand this may not be part of the formal markdown spec.
Here is some discussion on this issue and seems to have been incorporated
in pandoc m

[2016-04-15 04:28] daroczig commented on #258
Hi Shripad,

this is a great idea! I was not aware that with the most recent versions of `pandoc` it's that easy to add HTML attributes to images. Based on this, I will add an optional argument to `pandoc.image` to support this feature -- although this will be a HTML-only thing it seems.

About the indexing part: I think that should be done rather in JS as part of the HTML template used in `pandoc

[2016-04-15 16:17] ssinari commented on #258
Thanks Gergely,
Looking forward to it when you are done.
Regards,

--
Shripad Sinari
University of Arizona
Statistician - BIO5 Institute
1657 E. Helen St / Keating Bldg, Cube 0200D7
Ph: (520) 626-2325
Email: shripad@email.arizona.edu

On Thu, Apr 14, 2016 at 9:28 PM, Gergely Daróczi <notifications@github.com>
wrote:

[2016-04-25 20:10] perlmonger commented on #27
Has this behavior changed?  I am on Windows, r R x64 3.2.4 Revised

The first part of the example stays the same:
[code]
But, this does not turn out like in the example above:

[code]
Also, it doesn't work for the mtcars example either.

[code]

[2016-04-26 05:47] daroczig commented on #27
This is a regression bug, thanks for the report. Can you please file a new ticket with the exact same content as you above comment? I could fo that to, but this way you would get notified about the fix (I will have some time to debug this early next week).

[2016-04-26 14:36] perlmonger commented on #27
Ok, will do.  And thanks for all your work on this.   It really makes my life easier.  I particularly like the emphasize.strong.cells and the like.  Some day you should add  color options as well.  Red would pop even better than bold.  :)

[2016-04-26 14:47] perlmonger opened #259 "keep.trailing.zeros not working correctly"
There is an example of how keep.trailing.zeros is supposed to preform here:
[https://github.com/Rapporter/pander/issues/27](here)

The first part of the example stays the same:
[code]

But, this example :

[code]
does not return the value shown on the page linked above.  Instead I get:
[code]
I am also getting a different result for the mtcars example given on the linked page.

[code]
I am on Wind

[2016-05-02 00:28] yasirs opened #260 "pander.htest gives errors if the test name is too long"
This contrived code reproduces the error:

[code]
This is due to R returning the name of the test object as vector of two strings (perhaps to separate it into two lines). I've suggested a fix with https://github.com/Rapporter/pander/pull/261

[2016-05-02 05:06] daroczig commented on #260
Thanks for reporting this bug, and also for the suggested fix! Much appreciated. I've added a comment in the PR, can you please fix that before I can merge?

[2016-05-02 13:14] yasirs commented on #260
Thanks @daroczig, PR changed.

[2016-05-02 18:06] yasirs commented on #258
Stupid question: Why can't [reference links](http://pandoc.org/README.html#reference-links) be used for cross-referencing tables and figures?

[2016-05-02 19:20] yasirs opened #262 "table should split cells in case of a list"
Consider the code:
[code]
I think logically, we want to split the list in desc to be multi line on the comma. As a workaround one can do
[code]
for each column with lists before calling pandoc.table.

[2016-05-03 04:52] daroczig commented on #260
Thanks a lot, PR is merged.

[2016-05-03 04:52] #260 closed

[2016-05-03 04:54] daroczig commented on #262
Good point. But let's think about this from a more general point of view: shouldn't we split on eg any character besides `[a-zA-Z]` and accented chars? Or a list of known punctuations, like dot, semi-colon etc. What do you think?

[2016-05-03 04:56] daroczig commented on #258
@yasirs I think the problematic point here is not how to reference stuff, but how to refer to tables and figures. Or I miss something. Can you please provide a simple example?

[2016-05-03 15:04] yasirs commented on #262
Yes, absolutely I agree there should be an option to split on any desired
character. Unfortunately strwrap doesn't support this. We need a custom
function. I could only think of a sequential program to do this. Is that
the way to go?

On the other hand conceptually splitting lists can be different
from splitting on a character.

On Tuesday, May 3, 2016, Gergely Daróczi <notifications@github.com> w

[2016-05-03 19:15] yasirs commented on #258
@daroczig You are right. They're too different things.

According to https://github.com/jgm/pandoc/issues/813#issuecomment-168227636 there are pandoc-extensions for

-  [pandoc-fignos](https://github.com/tomduck/pandoc-fignos) for figures
-  [pandoc-eqnos](https://github.com/tomduck/pandoc-eqnos) for equations
-  [pandoc-tablenos](https://github.com/tomduck/pandoc-tablenos) for tables

Pander coul

[2016-05-03 22:04] yasirs opened #263 "pander.table can't work with tables containing numerical and list types"
Consider:
[code]
However, if all the columns are characters, it works fine
[code]

[2016-05-05 07:46] daroczig commented on #258
Good resources, thank you, @yasirs!

[2016-05-05 07:49] daroczig commented on #263
I am not 100% sure yet if it's something we should handle inside of `pander`. I mean a `data.frame` having a `list` column is highly unlikely, and if we start supporting such weird things, I have no idea what might come up next :) Let me think about this for a few days, but looking forward to any other views on this.

[2016-05-14 19:43] daroczig commented on #258
A quick question before I push some updates regarding this:

- referencing tables via `pandoc-tablenos` is already pretty easy, as you can include the label in the caption as per https://github.com/tomduck/pandoc-tablenos#basic-syntax -- do you think it's OK or should we add a new argument to `pandoc.table`?
- referencing images is a bit trickier with `pandoc-fignos` as the label should be appende

[2016-05-15 07:42] daroczig commented on #262
One workaround here, as just came to my mind, that `pander` already supports hyphenation:

[code]

This might be a better way for the original purpose. What do you think?

[2016-05-15 18:58] ssinari commented on #258
Hello Gergely,
I would prefer a new argument that takes the identifier as a string just to
keep them separate.
Regards,
Shripad.

On Saturday, May 14, 2016, Gergely Daróczi <notifications@github.com> wrote:

--
Shripad
Tucson, Az.
Sent from my iPad. Please excuse typos.

[2016-05-17 16:33] walkandride opened #266 "Pander with ftable put quotations in output"
Character values are in double quotes when an ftable is passed to pander.

`pander(ftable(Titanic, row.vars = 1:3))`

Version:  pander_0.6.0

[2016-05-18 22:14] yasirs commented on #258
I think the label should be an optional argument to table with the default being the chunk name, to be compatible with bookdown and it's behavior with knitr::kable. Also, the tables produced as part of pandoc.test.

[2016-05-18 22:21] yasirs commented on #262
I think you are right. While lists inside tables are possible, I think they behave in unexpected ways and so may not be practical.

[2016-05-23 10:39] willbowditch opened #267 "Support for Afex anova objects"
Afex objects aren't supported at the moment. I've got around this myself with a quick method function, but adding support for captions etc may be good for wider community.

Example:
[code]

returns:

[code]

[2016-05-24 06:47] daroczig commented on #267
Can you please review this example? I'm not sure what is `a`.

[2016-05-24 14:39] willbowditch commented on #267
@daroczig Corrected

[2016-05-25 00:30] daroczig commented on #266
I think this is a duplicate of #242, in short: this should be fixed in the most recent version of the package -- not yet available on CRAN, though. Please confirm and reopen if you still have this issue after `devtools::install_github('rapporter/pander')` -- which should result in:

[code]

[2016-05-25 00:30] #266 closed

[2016-06-06 13:00] puterleat opened #268 "Support for lme4 / lmer models?"

[2016-06-06 18:57] daroczig commented on #268
Anything is doable :)
Can you please share some example objects and preferred output?

[2016-06-06 19:44] realAkhmed opened #269 "Possible bug in table.alignment.default: "Wrong number of parameters passed: justify""
Hello! Consider the following code
[code]

For some reason it produces the following error
[code]

This is clearly caused by `table.alignment.default` option above (no error happens if the option is removed) but I don't see where number 12 is coming from since ` ifelse(sapply(df, is.numeric), 'right', 'left')` clearly generates 2 strings as expected?

I am using the latest version from Github

[2016-06-06 20:07] daroczig commented on #269
I think you do not need the `summary` call there -- can you please confirm that?

Eg this works without any problem:

[code]

But checking the `summary` indeed returns 12 (6*2) booleans:

[code]

If you want to have a special function to provide the alignment for the `summary`, you will have to define a smarter helper function than the `sapply` one. Does it answer your question? Please reopen if n

[2016-06-06 20:07] #269 closed

[2016-06-06 20:11] realAkhmed commented on #269
@daroczig hmm.... the purpose of that code was to print the summary of `df`, not the content of `df`. I don't think removing `summary` resolves this issue

Consider this:
[code]

This is the desired output
[code]

[2016-06-06 20:18] realAkhmed commented on #269
Oh, I think I see what to do: it is my code that misusing the function by ignoring the differences between tables and data.frames.

If I change `sapply(summary(df), is.numeric)` to `apply(summary(df),2, is.numeric)` then it works as desired!

[code]

Thanks a lot!

[2016-06-06 20:20] daroczig commented on #269
Thanks for the clarification, this makes sense.
But your custom function using sapply returns 12 true/false values instead
of 2. In short, you need to come up with a smarter fn to return only 2
alignments for a summary object -- which is a bit out of the scope of the
pander pkg, but happy to help if you get stuck -- just let me know.

--
Sent from a mobile phone with an annoying input interface, p

[2016-06-06 20:25] realAkhmed commented on #269
@daroczig Thanks a lot! Yes, it is completely my oversight: I didn't realize that the type changes from data.frame to table after `summary`. This just requires a simple one-line change to fix my code (above).

[2016-06-07 04:22] daroczig commented on #269
I'm glad you managed to solve this, thanks for the feedback.

[2016-06-07 08:56] puterleat commented on #268
It's a bit of a mouthful, but I might do something like this:

[code]

Note you have to use lmerTest for the p values to be present in the coefficients table. Perhaps we need to check whether the library is loaded before grabbing that column...

[2016-06-09 17:02] melindahiggins2000 opened #270 "pander.describe not working"
I cannot get the pander function to work for the describe object class. I have tried both the `pander` package install from CRAN as well as from GitHub using `devtools`. Both give me the same empty output. My example follows below. I'm running Windows 10, R v3.2.5 (complete SessionInfo below). Any guidance or suggestions are much appreciated. Thank you.

For the following code:

[code]

The `descr

[2016-06-29 20:56] renejuan opened #271 "Data frame with non sequential row.names"
Not sure if this is a bug but maybe is worth reporting as it may have unintended consequences.

[code]

[2016-08-11 02:19] furthermore opened #272 "pander function with problem of Chinese character Error:basic_string::_S_create"
I use R 3.1.1 under win10
![image](https://cloud.githubusercontent.com/assets/17634933/17577101/7c2781d2-5fac-11e6-99fd-ab0e6e8350fa.png)

Only when I user pander() function chinese character cannot show,how can I solve this problem ,thanks!

[2016-08-11 11:58] daroczig commented on #272
@RomanTsegelskyi any ideas on this?

[2016-08-16 01:01] mjsteinbaugh commented on #259
I think I'm seeing this bug as well with pander 0.6.0, R. 3.3.1.

[2016-08-26 09:35] arhot commented on #250
Will this fix be available on the CRAN version? (I'd need it for teaching purposes when students cannot use devtools.)

[2016-08-26 09:55] daroczig commented on #250
@arhot, of course, sorry for the delay with pushing the new version to CRAN. Please expect that mid September.

[2016-09-01 21:54] bbolker commented on #268
might want to coordinate with the `broom` package ... ? (there are issues there with `lmerTest` output, too, but might as well not solve the problem twice ...)

[2016-09-01 22:08] bbolker opened #273 "pander.ftable issues/not as pretty as pander.tabular?"
I'd like to use `pander.ftable` as recommended e.g. [here](http://stackoverflow.com/questions/26429740/preserve-row-column-labels-from-table-using-kable-and-knitr/26431328#26431328) to get nice tabular output with dimnames (row/column names) preserved ...  I'm having some difficulties (sorry/thanks for your patience if these are really `rmarkdown` rather than `pander` issues ...)

After I convert

[2016-09-05 23:41] #259 closed

[2016-09-05 23:42] daroczig commented on #259
I think this was introduced by https://github.com/Rapporter/pander/commit/9f01b90a6327082dc0e636515d4e075a73e9488c#diff-06d98d59ee432a4a652caa361f1bfda5L915 (pls check @RomanTsegelskyi if you have some time), and should be fixed with the above commit. Pls let me know if this works or you see any side-effects.

[2016-09-06 15:24] puterleat opened #274 "pandoc.formula with caption causes error"
For example:

[code]

Generates this error:

[2016-09-06 17:24] #274 closed

[2016-09-06 17:24] daroczig commented on #274
Thanks for reporting this. Please test if above commit resolve the issue.

[2016-09-06 17:29] daroczig commented on #271
Yeah, it's on purpose: https://github.com/Rapporter/pander/blob/2c1b47990bff538f1f1e2e7d8fa35bc5cada5940/R/pandoc.R#L1118

But we should indeed document it somewhere, good point!

[2016-09-06 20:06] puterleat commented on #274
Works for me. Thanks for fixing so quickly.

[2016-09-13 23:30] elbamos opened #275 "Tables fail to render inside of fullwidth environment with tufte classes"
I'm not sure if this is more of a pander issue or a knitr issue.  So I'm going to post in both places.

The tufte classes (handout, book, etc.) have a `fullwidth` environment.  If a pander table is created in that environment, the LaTeX typesetting engine fails to parse the table.

[2016-09-15 03:00] happyshows opened #276 "Add support for plotly objects, and possibly htmlwidget objects?"
Error in x[[i]] : subscript out of bounds
In addition: Warning message:
In pander.default(x$result) :
  No pander.method for "plotly", reverting to default.No pander.method for "htmlwidget", reverting to default.

[2016-09-19 16:19] ebergel opened #278 "pander errors with descr::CrossTables if table has no row or col %"
When using pander with descr::CrossTables, the generated markdown creates a table with duplicated row names.

This code:
[code]

generates this markdown

[code]
See the repeated row labels bbb\ aaa on each row header.

For reference, if at least one % is requested, then the table is ok

This code:
[code]

generates this markdown,   without errors.

[code]

[2016-09-19 19:15] daroczig commented on #278
Thanks for reporting this.
@RomanTsegelskyi, if you have time, pls look into this as you worked on the function, if not, I'll try to resolve this -- or a related PR is highly welcomed.

[2016-09-20 09:03] RomanTsegelskyi commented on #278
Hi, this definitely seems like a bug, I will try to look into it during the weekend

[2016-09-28 10:41] daroczig opened #279 "Jira table format"
This is very similar to the `rmarkdown` format, but no separator between header and body + extra pipes in header: https://jira.atlassian.com/secure/WikiRendererHelpAction.jspa?section=tables

[2016-09-28 10:42] daroczig commented on #276
Thanks for this report. Can you please provide some details on the use case? I mean why do you run a plotly object through `pander`? Or are you using `Pandoc.brew`?

[2016-09-28 10:45] daroczig commented on #275
Can you please post a minimal example for this, eg an Rmd file?

[2016-09-28 10:49] daroczig commented on #273
Good catch! This is because `t1` has a header:

[code]

While `f1` is a matrix with no header (eg the first line is just a normal line instead of being a header):

[code]

Honestly, I'm not that familiar with the `ftable` class, so asking for help here. Should we *always* suppose that the first line of an `ftable` object should be rendered as a table header?

[2016-09-28 10:57] daroczig commented on #262
Closing as adding support for lists inside of tables would potentially open up Pandora's box and lot of side effects.

[2016-09-28 10:57] #262 closed

[2016-09-28 10:58] daroczig commented on #263
Closing as adding support for lists inside of tables would potentially open up Pandora's box and lot of side effects -- as per #262

[2016-09-28 10:58] #263 closed

[2016-09-28 11:05] daroczig commented on #253
Example object:

[code]

Expected output:

[code]

[2016-09-28 11:10] daroczig commented on #270
It seems that the structure of the `describe` object changed in `Hmisc`, see `pander:::pander.describe`. We had similar issue with other objects in the past, I'm thinking about either

- trying to move these functions to Hmisc if the author is willing to maintain the code there (who knows a lot better if internal object structure changes)
- drop support for these objects

[2016-09-28 12:51] elbamos commented on #275
I can try to put one together; I ultimately resolved the issue by using kable with the booktabs package, so I haven't looked at this in a few weeks.

[2016-09-28 16:46] happyshows commented on #276
Hi,

I was attempting to use pander to dynamically create markdown files that allow me to embed plotly visualization in there, so that reader will have some flexibility in the generated html file to do filtering, regrouping.

[2016-09-29 11:30] daroczig commented on #276
Thanks a lot, makes a lot of sense, will try to get some time to add support for it soon.

[2016-10-03 16:52] NaserMonsefi opened #280 "Pander can not encode UTF-8 in rows or columns"
Hi,

I was using pander with a matrix containing UTF-8 col names and released that pander can not recognise them. I dig a little deeper and noticed that actually pander have no problem with UTF-8 characters anywhere else beside row or col names. Further, I noticed that pander encodes them from UTF-8 to latin1 but for some reason this doesn't happen for row or col names. I made a small matrix to te

[2016-10-03 19:08] daroczig commented on #280
This report seems to be similar to #228 -- are you on Windows? Can you please share your `devtools::session_info()`? And also the `data` object eg via `dput`.

[2016-10-07 08:41] NaserMonsefi commented on #280
Thanks a lot for coming back to me so quick, here is the sessioninfo:
![image](https://cloud.githubusercontent.com/assets/13728402/19183687/6ae3673c-8c71-11e6-980c-92c0f873a1c1.png)
I am afraid that dput will mess up the unicodes, I uploaded the RDS file here:
https://www.dropbox.com/s/t1u20gybxirrmt1/data_utf8.RDS?dl=0
Hopefully this works,

Yours,
Naser

[2016-10-07 08:53] daroczig commented on #280
Thanks for the details! Runnig here works OK:

![pander 280](https://cloud.githubusercontent.com/assets/495736/19184130/f648c920-8c7b-11e6-8328-30b71ba259f1.png)

Although I'm on Linux and using UTF-8 locale. Can you pls also try to set the locale to UTF-8? `pander` doesn't do any specific character encoding updates, so I suspect this issue is rather due to the local config. Eg what if you update

[2016-10-07 09:33] NaserMonsefi commented on #280
You are absolutely correct, seems to be a windows problem. It worked on my linux vbox.
Neither of English locale worked either (although they supposed to be utf8)
Guess, for windows i might change encoding of the data to native(latin1) before using pander.
Yours,
Naser

[2016-10-07 10:16] NaserMonsefi commented on #280
I think I found the cause for the problem,
So if I use to change `Encoding` like this, it gave the same wrong format for UTF-8 (β) (forcing encodign to latin1 that is native):
![image](https://cloud.githubusercontent.com/assets/13728402/19186476/5106a5ec-8c7e-11e6-8c4f-715b6e38aa5a.png)

but if I use `enc2native` function instead, it doesn't make the weird character and all characters are in the l

[2016-10-07 11:14] daroczig commented on #280
Might be related to some internal Rcpp stuff, but AFAIK we pass all headers + table body to the same functions. cc @RomanTsegelskyi for confirmation

BTW can you please let me know, @NaserMonsefi, how you created this `data.frame`? This Windows behaviour (like in #228) to have different encoding for table header and content really freaks me out.

[2016-10-07 12:05] NaserMonsefi commented on #280
I originally noticed the problem, importing a data set using `read.delim`

`read.delim('..data.csv', sep = ',', stringsAsFactors = FALSE, encoding = 'UTF-8', check.names = F)`

The files is encoded in UTF-8 and have header names with the UTF-8 beta in it.
Of course if i use check.names = T it will encode to "unknown" with more wrong characters.
I think I found a solution for my case as mentioned a

[2016-10-07 19:39] nbarrowman commented on #280
I have been having the same problem, also on Windows. Thanks Naser, `enc2native` also worked for me.

[2016-10-28 07:03] jranke opened #281 "Support for row.names and col.names for pandoc.table"
as in knitr::kable would be a nice addition to give a bit more control.

[2016-11-10 02:16] kent37 opened #283 "pander.cph fails with rms version 5.0-0"
In version 5.0-0 of the `rms` package, `rms::reVector` was renamed to `rms::reListclean`. This breaks `pander.cph` which uses `rms::reVector`. For example, using `f` as defined in `help(cph)`:

    Error: 'reVector' is not an exported object from 'namespace:rms'

[2016-11-10 17:23] daroczig commented on #283
Thanks for this report! I'm planning to remove these methods from the `pander` package and submitting pull requests to the related R package repos, so that the maintainers can update these if things change. Planning to do that in a few weeks, currently busy with some other projects.

[2016-11-14 19:15] carlganz opened #284 "Support for svystat/svyby objects"
Hello,

Thanks for the wonderful package. At the moment, `svystat` and `svyby` objects from the `survey` package don't print as expected with `pander`. The default print method for these objects includes standards errors, and the pander output probably should too.

[code]
It's not that helpful obviously, since the user could always `as.data.frame` themselves before calling `pander`, but I feel lik

[2016-11-16 14:34] guillaumechaumet commented on #258
Hi guys. Did this new feature is available?

[2016-11-30 19:29] perfguy opened #285 "Round/Digits not working as documented?"
I want to print the following with exactly two digits after the decimal point. I am not able to accomplish that with round and/or keep.trailing.zeros

[code]

[2016-11-30 23:15] daroczig commented on #285
I think this was fixed in #259, can you please give a try to the dev version?

[2016-11-30 23:15] #285 closed

[2016-12-01 01:04] perfguy commented on #285
yes this is fixed in the dev version. Thanks!

[2016-12-04 21:14] krlmlr commented on #258
I use the following in conjunction with [bookdown](https://bookdown.org/yihui/bookdown/tables.html):

[code]

In the text, I then refer to the table via `\@ref(tab:table-label)` .

[2016-12-04 22:29] daroczig commented on #272
@furthermore, can you please add your `devtools::session_info()` and also try the above with the most recent version of `pander` installed from Github?

[2016-12-04 22:32] daroczig commented on #275
I guess this is due to placing markdown inside of a LaTeX env, which will not be transformed to LaTeX by `pandoc` as per http://pandoc.org/MANUAL.html#raw-tex:

[2016-12-04 22:32] #275 closed

[2016-12-05 12:10] ebergel commented on #278
Any news on fixing this problems?

[2016-12-05 12:38] guillaumechaumet commented on #258
I use this solution
`
pander(...,caption=\\label{tabs:NSV})
`

and then `\ref{tabs:NSV}` in the text part.

Thanks

[2016-12-05 17:21] ssinari commented on #258
great thanks for the feature.

--
Shripad Sinari
University of Arizona
Statistician - BIO5 Institute
1657 E. Helen St / Keating Bldg, Cube 0200D7
Ph: (520) 626-2325
Email: shripad@email.arizona.edu

On Mon, Dec 5, 2016 at 5:38 AM, guillaumechaumet <notifications@github.com>
wrote:

[2017-01-12 12:39] GegznaV opened #286 "NA values instead of empty cells"
Is there a way to replace `NA`  values, which are placed in cells, which are empty before applying pander, with some other character (empty space, long dash, etc.).

E.g.,  tables of ANOVA models, summaries, etc., have those `NA` values:

[code]
Results in:

[code]

While

[code]
is expected.

Long dashes should be fine too:

[code]

And

[code]

[2017-01-12 12:43] GegznaV commented on #286
oh, it's parameter `missing =""`.

Sorry for bothering.

[code]

[2017-01-12 12:43] #286 closed

[2017-01-14 11:22] dcomtois commented on #141
Hi there!

I noticed something a bit puzzling... it seems the `round` option doesn't apply to all columns for some reason...

[code]

Also, it seems the number of digits is limited to 3...

[code]

Scratching my head here... Any clues?

[2017-01-15 13:54] daroczig commented on #141
See `digits` in `format` for a more detailed description, but in short: you have to specify the number of significant digits as well besides the number of digits for round. So your first example updated with this could become eg:

[code]

Similarly -- if you want to go above 3 digits, try increasing the `digits `argument.

I think this resolves the issue, so I'm closing the ticket, but please feel

[2017-01-15 13:54] #141 closed

[2017-01-26 19:01] brfry opened #287 "Possible bug: panderOptions('round', 2) being lost when dplyr::group_by used"
Not sure if it is something I am overlooking, a problem with dplyr, or something with pander, but I am having this issue:

Load libraries and set options:

[code]

Create some data:

[code]

  x | y | class
---|---|---
  0.01874617	| 1.10177950	| a
  -0.18425254	| 0.75578151	| b
  -1.37133055	|-0.23823356	|a
-0.59916772	|0.98744470	|b
0.29454513	|0.74139013	|a
0.38979430	|0.08934727	|b
-1.20807618

[2017-01-26 20:28] daroczig commented on #287
Cannot reproduce the bug here -- can you please share your `devtools::session_info()`?

[2017-01-26 21:04] daroczig commented on #287
Can you try the dev version of `pander`? It hasn't been updated on CRAN for a while, and I think this was fixed since then at #234. Based on this, I'm closing this now, but please feel free to reopen if that doesn't solve the issue.

[2017-01-26 21:04] #287 closed

[2017-01-26 21:15] brfry commented on #287
That has fixed it. Works with both panderOptions global and inline. Thanks.

[2017-02-17 16:57] HJAllen opened #288 "floats and tables on same page"
I am having a problem when floating figures and tables are on the same page. This issue has been identified elsewhere but haven't found a solution. https://github.com/yihui/knitr/issues/863 The code chunk looks like this (not a functioning example)

[code]

The subsequent pdf page looks like:

![image](https://cloud.githubusercontent.com/assets/6650920/23074758/f6ea3478-f507-11e6-8e14-3847722baf15

[2017-02-17 19:26] HJAllen commented on #288
After some more digging I found https://groups.google.com/forum/#!topic/pandoc-discuss/pWsApQDpp9A which discussed using a longtable-patched.sty file. I implemented this which took care of the problem.

[2017-02-17 19:26] #288 closed

[2017-02-22 20:26] billdenney opened #289 "pandoc.table should avoid four leading spaces when generating table info"
With the following data.frame, I'm having difficulty with pander formatting the resulting table.  I'm also working within knitr/rmarkdown which likely has an interaction.

[code]

When doing a standard `pander(mytable)`, I get a table that then mixes pre-formatted and other info within the markdown due to the prefixed spaces.

[code]

When I do `pander(mytable, justify="left")`, it appears to gene

[2017-02-23 06:23] gurol opened #290 "NA Values Generate Internal Error in pander for 'Correlation' rapport template"
rapport function generates internal pander error:

`[1] “7” attr(,“class”) [1] “knit_asis” attr(,“knit_cacheable”) [1] NA variables with [1] “286” attr(,“class”) [1] “knit_asis” attr(,“knit_cacheable”) [1] NA cases provided.`
`Internal pander error: zero length argument while running: cm <- cor(vars, use = "complete.obs")`

The related code is:

`rapport('Correlation',
        data=dataFrameMetric

[2017-02-23 07:55] daroczig commented on #289
Not sure what's the problem, can you please add more details and screenshots? When I run `pandoc` on the above markdown table, I get this result, which looks OK to me:

![pander in pdf](https://cloud.githubusercontent.com/assets/495736/23249659/c9dae8b8-f9a5-11e6-87c2-150809861937.png)

Also, what do you mean by "it doesn't work with knitr/rmarkdown"? A minimal Rmd reproducing the problem would be

[2017-02-23 07:58] daroczig commented on #290
Can you please share what is `dataFrameMetrics`? I cannot reproduce and start debugging the problem without knowing what you try to do.

[2017-02-23 08:53] gurol commented on #290
Please, ignore the example code above. The following codes (Test.R) is a minimal working example:
[code]
This code works when it runs in R (report is displayed in console). But, when I try to Knit Document in R studio (File | Knit Document, selecting HTML output)  it displays errors as partly shown in below:

[code]

What I found now that it is not related to NA in supplied data (i.e. metric1 and

[2017-02-23 09:51] daroczig commented on #290
Ah, okay, thanks a lot for the explanation. Well, `rapport` was never intended to be called within a `knitr` or R Markdown document, as it's doing something similar to `kintr` so there's some conflict in the backends.

Can you please provide a use case for this? Maybe we can figure out something on how to fix this.

Meanwhile, if you just want to convert the markdown to eg HTML or PDF, you could t

[2017-02-23 12:41] gurol commented on #290
Thanks for the clarification and suggesting the export function. I have used it in my study.
For the use case, I like rapporter's presentation approach in correlations and wanted to use it inside my report.

[2017-02-23 12:54] daroczig commented on #290
Thanks for the feedback! I will look into this, but the `rapport` package is not currently on the top of my priorities, so it might take some time -- I'll try to get back to you on this in a couple of weeks.

[2017-02-23 14:59] billdenney commented on #289
With further investigation, this falls under "my fault, but maybe you can still help".  :)

It turns out that the issue occurs when results="asis" and there is no blank line before the beginning of the table.  File that under my fault.  Perhaps a way that it can be prevented for me and other users in the future is to insert a blank line at the beginning (and end?) of the markdown created by pandoc

[2017-02-23 20:36] daroczig commented on #289
Ah, I see, thanks for the feedback -- that's actually makes sense.

So `pander` already adds a blank line before and after the table, see eg your example with `pander_return` (which shows what is written to the `stdout` when calling `pander`):

[code]

So I think what you are requesting is already done for the convenience of `pander` users so that you do not have to add an extra line break before

[2017-02-23 20:36] #289 closed

[2017-02-27 09:40] tormodb opened #291 "captioning in bookdown::tufte_book2"
Thanks for this great package!

I realize that this is a pretty particular request. I am writing reports using bookdown::tufte_book2 format. When using ```knitr::kable``` for producing tables, the caption is put in a marginnote/sidenote according to the tufte style. However, kable tables are very limited, and I have been relying on ```pander::pandoc.table``` to split long cells and all the other t

[2017-02-27 11:02] daroczig commented on #291
As far as I know, the caption format in markdown is pretty standard, so not sure what might be the difference between `kable` and `pander` there, but happy to look into it. Can you please provide a minimal example on the problem eg including a `kable` and `pander` table in the `bookdown::tufte_book2` format?

[2017-02-27 12:50] tormodb commented on #291
Thanks for the prompt reply. The following two attachments reproduce the issue (the .rmd.txt file must be changed to .rmd in order to run, but .rmd files were not supported as attachment.)

[reprex.Rmd.txt](https://github.com/Rapporter/pander/files/803657/reprex.Rmd.txt)
[reprex.pdf](https://github.com/Rapporter/pander/files/803658/reprex.pdf)

[2017-02-27 14:32] daroczig commented on #291
I'm on mobile so cannot test right now, but the stylesheets used in the two
tables seems to be different as well, which suggests it might be due to the
different default markdown format used. That'd be a bit strange though, but
can you pls test pander with style = "rmarkdown"?

--
Sent from a mobile phone with an annoying input interface, pls excuse my
brevity/spelling issues.

On Feb 27, 2017 1:5

[2017-03-09 11:16] gurol opened #292 "No extra line for table.continues"
Is it possible to put no extra line at all for table continues (default: "Table continues below")? If I set an empty string (i.e. `panderOptions('table.continues', '')`)  there is still an empty line among table parts.

[2017-03-10 03:59] daroczig commented on #292
[code]

So there are two empty lines between the tables. Do you want to reduce that to one empty line? In markdown, the number of empty doesn't really matter as far as I know.

[2017-03-10 05:24] gurol commented on #292
The screenshot below was taken from a Knitr generated HTML file and shows my request. I actually want to display a single record (row) with lots of columns in stacked lines with no vertical space.

<img width="702" alt="pandercontinuedtableverticalspace" src="https://cloud.githubusercontent.com/assets/14318443/23783156/684f8330-056a-11e7-9845-630191e888c2.png">

Thank you.

[2017-04-08 13:55] daroczig commented on #292
@gurol I'm closing this, as I think that's rather a CSS and not a markdown-related question -- you have three separate HTML tables, where you could decrease the horizontal padding/margin between those via CSS. You cannot control that by markdown. Does it make sense?

[2017-04-08 13:55] #292 closed

[2017-04-27 19:49] mmann1123 opened #294 "Support for SPLM objects"
I would love to see pander updated to include spatial regression models through SPLM package.

[2017-04-30 23:47] GegznaV opened #296 "pander + R 3.4.0 → either a failure or an encoding issue"
While using `pander` and `R` version 3.4.0 I faced either an error or an encoding issue:

1. This code fails, while international strings are used:
[code]

Error message:
[code]

2. These lines are decoded incorrectly:
[code]

Result:
[code]

The problem disappears when I switch back to `R` 3.3.3.
**Is there a way to overcome this bug without switching back to previous versions of `R`?**

[code]

[2017-05-02 09:01] therimalaya opened #297 "pander.anova always wants that fifth column to have p-value"
Many ANOVA table may not have p-value at the fifth column. For example, if you use `chisq` test for MerMod Model, your p-value may lie on 3rd or 4th column of the ANOVA table. Isn't it good idea for displaying significance starts not my searching the p-value in 5th column but asking user for the index of the column that contains the p-value?

[2017-05-03 19:11] mbacou commented on #284
Same issue and same request here. Right now I use my own dirty hack to collect results from multiple svyby(), svymean(), svyquantile() calls, and then tabular() to pretty format. Would be nice is someone could build a generic method for survey objects.

[code]

[code]

[2017-05-04 07:51] daroczig commented on #297
Can you please provide a minimal reproducible example?

[2017-05-04 07:52] daroczig commented on #296
@RomanTsegelskyi any ideas regarding the Rcpp error message when using R 3.4.0?

[2017-05-04 09:59] therimalaya commented on #297
I will use an example in help file of `lmer` function of `lme4` package. For example you have fitted two models as,

[code]

If I want pander to print its ANOVA table obtained from `Anova` function of `car` package, then I will print,

[code]

[code]

But, if I tried to use the parameter `add.significance.star = T`, then `pander` calls `pander.anova` which checks for 5th column to be a column for

[2017-05-09 15:24] DonHugo69 opened #298 "Support for sjPlot"
I would like to ask if it would be possible to support the sjPlot package, more specifically the sjtable function (http://www.strengejacke.de/sjPlot/sjtbasics/ and https://github.com/strengejacke/sjPlot).
The reason is, that sjPlot seems to support the widest range of R models for printing summary tables (e.g. lme4 objects) and generates a very pleasant table style. However, it only generates HTML

[2017-05-27 00:15] lwjohnst86 opened #299 "Error when using pander with a `tbl_df` object."
This error occurs when using pander with any `tbl_df` object. See below

[code]

[2017-05-27 17:19] daroczig commented on #299
Thanks for the report. Can you try the `dev` version installed from GH? It has been fixed a while ago at #234

[2017-05-27 17:19] #299 closed

[2017-05-27 17:46] lwjohnst86 commented on #299
Yes, the dev version works. Any reason the updated version isn't up on CRAN yet? The dev version and CRAN version are listed as the same version number.

[2017-05-27 17:48] daroczig commented on #299
Did not have much time to spend on `pander` recently :S
Will try to get that to CRAN soon

[2017-06-14 19:53] lselzer commented on #296
I can confirm this bug in Spanish locale, but I don't get an error, it's just wrongly encoded. The bug disappers in R 3.3.3

[2017-06-15 18:15] cswingle opened #300 "pandoc.table fails with dplyr 0.7.0 / tibble 1.3.3"
In the past I was able to pass a tibble to `pandoc.table`, but when I do that now, I get an error.  It's possible this is an R 3.4.0 error, but I suspect it's something related to the new `dplyr` or `tibble` packages that came out a couple days ago.  This isn't a major issue because I can always just convert the tibble to a data.frame before passing it to `pandoc.table`.

For example:

    pandoc.

[2017-06-17 18:40] NMarkgraf commented on #300
workaround:

pandoc.table(mtcars %>% tibble::as_data_frame()

;-)

Or use the current development release an push the development crew to release pander 0.7 asap or better NOW! ;-)

[2017-06-17 21:29] cswingle commented on #300
@NMarkgraf Thanks.  I didn't think to try the dev version, but I see at https://github.com/Rapporter/pander/blob/master/R/pandoc.R#L780 that this is what's happening inside the code.

[2017-06-19 11:08] daroczig commented on #300
Yes, it was fixed in the dev version quite a long time ago, but the CRAN version is very outdated now :( Will try to push an updated in the near future.

[2017-06-19 11:08] #300 closed

[2017-06-26 09:07] fderyckel commented on #300
devtools::install_github('Rapporter/pander')
that should solve your problem

[2017-06-30 14:25] stevenranney opened #301 "Option to prevent row names from appearing in a pander table"
[This answer on StackOverflow](https://stackoverflow.com/questions/21018646/how-do-i-remove-row-names-when-using-pander-to-brew-a-report) suggests that Pander removes row names automatically when the row names start with `1`. When row names don't start with `1`, there's no way to remove the row names if the data are in a dataframe:

    data.frame(a = sample(LETTERS, 10),
                      b =

[2017-07-01 00:11] #281 closed

[2017-07-01 00:11] daroczig commented on #301
Thanks for opening this ticket and reminding me on about #282 -- please try the dev version installed from GH.

[2017-07-01 00:11] #301 closed

[2017-07-03 22:02] philsf commented on #296
For me it is the oposite: colnames and rownames work fine,  but the data is incorrectly encoded in output.

This only happens in Windows, and it appears to happen both in R `3.4.0` and `3.4.1`. It also does not happen if I switch back to `3.3.3`.

[code]

I have access to a linux box, and it does not happen in linux (which uses UTF-8).

I tried setting `Encoding()` and it still comes out wrong (al

[2017-07-07 11:36] elikesprogramming commented on #272
I get the same error with `pander::pandoc.table` when I try to avoid splitting wide tables (`split.tables = Inf`), if it contains non-ascii characters. The error is actually when the function calls `table.expand`.

See this example:

[code]
This works fine:
[code]
But if the content has non-ascii characters (note the ü instead of ue), it fails:

[code]
Below the session info

[code]

[2017-07-24 12:09] hr70 opened #303 "panderOptions and xtabs"
Hi,
using package pander version 0.6.0, there seems to be an issue with panderOptions and objects of class 'xtabs'.

example:
library(pander)
panderOptions('decimal.mark', ',')
panderOptions('big.mark', '.')
dat <- data.frame(x = 1000*(1:4), y = c("A","A","B","B"), z = c("C","D","C","D"))
tab <- xtabs(x ~ y + z, data = dat)
pander(tab) # not ok - big.mark in effect only for the first column (C)
pa

[2017-07-24 14:13] daroczig commented on #303
Hey, thanks for reporting this. Can you please check the dev version installed from GH? Seems to work fine here:

[code]

Please reopen if the dev version is still affected

[2017-07-24 14:13] #303 closed

[2017-08-04 19:39] davidski commented on #300
Any chance this will be going out to CRAN in the near future? I have package updates which are blocked on this at the moment. 😢

[2017-08-04 19:48] daroczig commented on #300
Ouch. I should have done that a long time ago ... Will push pander 0.7 to CRAN this weekend.

[2017-08-04 22:38] #283 closed

[2017-08-04 23:41] daroczig opened #304 "memisc::mtable udpate"
490bea0de28e0d8b2d59f31d86371ce3a3322892 dropped support for mtable objects, as a recent `memisc` update heavily modified the internal structure of the `mtable` object and then also renamed to `memisc_mtable`. Can someone please come up with a PR readding this class?

[2017-08-06 12:51] daroczig commented on #300
`0.6.1` was just submitted to CRAN after some `R CMD check` cleanups, so I hope this to be published pretty soon by the automated checks.

[2017-08-11 18:43] jenitivecase opened #305 "Weird formatting surrounding a 7 in a table"
There is a 7 that is randomly getting formatted differently from all other values in my table output:
![image](https://user-images.githubusercontent.com/19473916/29226505-ef686f8e-7e97-11e7-82b2-b0f9603d8a01.png)

The table appears totally normal in R Studio and in the LaTeX code:
![image](https://user-images.githubusercontent.com/19473916/29226445-b8f7e0e2-7e97-11e7-9f33-49e49e9ce4d9.png)
![image

[2017-08-11 18:53] jenitivecase commented on #305
P.S. It is not specific to the number 7...
![image](https://user-images.githubusercontent.com/19473916/29227668-59d6367c-7e9c-11e7-82f6-ed82356b86ed.png)

... but it does seem to be specific to single-digit numbers.
![image](https://user-images.githubusercontent.com/19473916/29227698-7feabd4c-7e9c-11e7-86c5-aee57dc38ed9.png)

[2017-08-11 19:56] daroczig commented on #305
Thanks for the report, but I'm not sure if it's a `pander` issue. I mean `pander` does the R object to markdown transformation, but the rest (eg markdown -> PDF) is down via `pandoc`. So we should figure out if it's a problem in the markdown (as per the markdown specs at http://pandoc.org/MANUAL.html) or it's an issue with converting the markdown to PDF.

The markdown looks right to me, but I'm op

[2017-08-11 20:12] jenitivecase commented on #305
Additional things I have tried, with results:
removing parentheses from colnames = **success**
commenting parentheses in colnames with a single `\` = **failure**
commenting parentheses in colnames with a double escape, `\\` = **failure**, and the part of the colnames enclosed in parens became italicized (? this is a total mystery to me)

From the pandoc manual, I gather than parentheses may be use

[2017-08-12 21:01] pachamaltese opened #306 "incompatibility between ** and :"
Hi

If I write

[code]

The part about `**Platform:**` is wrongly displayed in html/LaTeX after markdown conversion.

If I just replace to `<b>Platform:<b>`its displayed ok.

[2017-08-13 22:24] daroczig opened #307 "add support for bookdown table references"
As per the `bookdown` docs at https://bookdown.org/yihui/bookdown/tables.html:

And as others also noticed (see related tickets below), the standard markdown table caption requires an extra reference so that `bookdown` can pick it up.

Please note that I'm not familiar with `bookdown` and especially not with `bookdwown` internals, so would love to get some help from the community here. Eg we have

[2017-08-13 22:26] daroczig commented on #258
Thanks all for your very helpful feedback! I'm closing this in favor of the above-referenced ticket and hope to get this done there soon.

[2017-08-13 22:26] #258 closed

[2017-08-13 22:26] daroczig commented on #291
I'm closing this in favor of the above-referenced ticket and hope to get this done there soon.

[2017-08-13 22:26] #291 closed

[2017-08-13 22:29] daroczig commented on #305
Could you try converting the markdown document into `tex` instead of PDF first? Then checking the `tex` file would show if it's a `pandoc`, or maybe PDF rendering issue.

[2017-08-13 22:33] daroczig commented on #306
Can you share your `sessionInfo()` and how the `pander` version looks? I can only test on Linux now which seems to work fine:

![image](https://user-images.githubusercontent.com/495736/29253864-1d5928b0-8088-11e7-8002-d605ecff3fc8.png)

[2017-08-14 01:51] pachamaltese commented on #306
here is it

[code]

[code]

[2017-08-14 07:40] daroczig commented on #306
Thanks for your prompt reply, but I don't see any markdown issue in this output, so I'm closing the ticket. But please feel free to reopen with some additional information, eg screenshot of the malformed PDF and HTML and some research on what might be wrong with the current markdown. Thanks!

[2017-08-14 07:41] daroczig commented on #305
Meanwhile, I'm closing this ticket, as I suspect the issue to be outside of `pander` -- but please report back with the above information and let's try to debug if you find something

[2017-08-14 18:07] pachamaltese commented on #306
sorry, I misunderstood

here is a sample in Rmd

---
title: "Reporting `:**` error "
output: html_document
---

[code]

## R Markdown

[code]

And the result is (see the "Platform")

![screen shot 2017-08-14 at 15 04 31](https://user-images.githubusercontent.com/10091065/29284719-35ebe802-8102-11e7-9230-6c740c58d8af.png)

If I find a solution I'll send a pull request :)

[2017-08-14 18:45] daroczig commented on #306
Thanks for the clarification -- now I see the problem :)

[2017-08-14 22:35] daroczig commented on #306
Debugging this for a while, I don't think that it's a `pander` issue -- `pander` is providing proper markdown. Rendering that into HTML or PDF or other document format works without problem using `pandoc`.

But you are right, it indeed fails when running from RStudio, and that's because RStudio runs `pandoc` when knitting the document to HTLM with the `markdown+autolink_bare_uris+ascii_identifiers

[2017-08-14 22:35] #306 closed

[2017-08-15 17:56] jenitivecase commented on #305
Okay, I did some tests and figured out what is happening. The bits that are formatted incorrectly are all enclosed in `{verbatim}` in the `tex` code. For example, here's the line with the weird 7 from Table 1 of my test output:

[code]
I've attached the `tex` and PDF outputs from this test run as well as the Rmd file used to create them.

[test_output_pander7.zip](https://github.com/Rapporter/pand

[2017-08-15 19:59] daroczig commented on #305
Wow, good catch! Let me see if there's a fix for this in `pandoc` or we might want to eg add an extra space in the column in such case to avoid triggering the verbatim env due to the four spaces.

[2017-08-15 20:02] daroczig commented on #305
BTW do you insist on using the `grid` table format? As per the `pandoc` docs:

So if you switch to eg the default `multiline`, this problem should in theory go away.

[2017-08-15 20:21] jenitivecase commented on #305
I wouldn't say I _insist_ on `grid`, but it was a quick fix to other formatting issues.

To illustrate my point, I reran my test file after changing the type to `multiline` for all examples. As you can see in the attached file, this output lacks the consistence in width and alignment across tables, even though the arguments in the `pandoc.table()` function are the same in all cases. This is why I

[2017-08-15 21:28] daroczig commented on #305
As per most recent `pandoc` docs at http://pandoc.org/MANUAL.html#extension-grid_tables, alignment is now specified in `grid` tables just like in the `pipe` tables (since version `pandoc 1.19`) -- so this is a bug in `pander`.

[2017-08-15 21:36] jenitivecase commented on #305
Sorry it's a bug, but thanks for looking into it!

[2017-08-30 08:42] benwhalley opened #308 "errors with relative paths"
If I run the following:

[code]

The first call works fine.

The second creates a file in 'tables/' but this file contains only the markdown string, and is not converted to rtf (same for docx). Additionally, there is an error displayed: `pandoc: tables/fileindiffdir.rtf: openFile: does not exist (No such file or directory)`.

[2017-08-30 10:23] GaryDe2 opened #309 "Print table with pander"
When printing a table with pander I obtain an error message `Error in pandoc.table.return(...) : Wrong number of parameters (76 instead of *4*) passed: justify` that I can't understand.
[code]

Traceback:
[code]

If I convert it in data frame beforecalling pander it works, but the format is now other, it isn't Var1 (mpg in exemple) as row names and Var2 (cyl) as column names, but Var1 (mpg) as col

[2017-08-30 10:35] daroczig commented on #309
Interesting -- this works fine here with the same (CRAN) version:

[code]

I don't know how this could happen on your machine -- I keep thinking if any Windows-specific issues might cause this, but I don't have any ideas right now. I'm on Linux BTW:

[code]

[2017-08-30 10:53] GaryDe2 commented on #309
I think I just figured why: I had forgotten I used this at some place:
[code]
It seems that without this option it works. But I have no idea why it doesn't work with, and then doesn't know how to fix the alignment AND printing tables together...

[2017-08-30 11:44] daroczig commented on #309
Ah, got it -- then it's not a bug in `pander` per se. You have to modify the anonymous function used to decide on the alignment, eg:

``r

---------------------
 &nbsp;  4   6      8
-------- --- --- ----
 **0**   3   4     12

 **1**   8   3      2
---------------------
[code]

[2017-08-30 11:44] #309 closed

[2017-08-30 11:49] GaryDe2 commented on #309
Thanks! Sorry for not having seen that before, it just totally escaped from my mind

[2017-08-31 17:03] alansz opened #310 "pandoc.table doesn't render rownames when they start with 1"
Using: pander 0.6.1 under R3.3.1

When table row names are 1:nrow(x), they are not rendered by pandoc.table even when explicitly given by row.names.

To replicate:

[code]

I have found no way to force pandoc.table to show row names when they happen to be 1:nrow(x).

[2017-08-31 17:36] daroczig commented on #310
That's because, by default, the "obvious" row names are removed at https://github.com/Rapporter/pander/blob/master/R/pandoc.R#L1133

If you don't like this behavior, you could add some whitespace to the row names that will be removed anyway:

[code]

But I'm happy to update the codebase not to remove obvious rownames if that's provided manually. Let me know if that suggestion makes sense to you.

[2017-08-31 17:49] alansz commented on #310
I would have expected that if I gave row names explicitly, they'd be used, even if they were obvious, so I agree with your suggestion not to remove them when provided manually. Thanks!

[2017-09-01 00:42] #310 closed

[2017-10-14 01:17] salim-b opened #311 "don't remove existing hyphens when `use.hyphening`"
Consider the following reprex:
[code]

In the output table the hyphen of the word **_self-explanatory_** gets removed (because the parameter `rm.hyph` of `koRpus::hyphen()` is left at it's default value of `TRUE`).

I'm not familiar with the code and therefore didn't submit a pull request (yet). But I guess it would be enough to add the argument `rm.hyph = FALSE` to the following line of `helpers.

[2017-10-14 01:31] salim-b opened #312 "add parameter to set (pass on) the hyphenation language"
Since I'm mostly writing stuff in German and the hyphenation function which pander uses under the hood already supports a bunch of languages _including German_, I'd like to have an option to change the current hard-coded value of `'en.us'`.

The relevant code seems to be this line of `helpers.R`:
https://github.com/Rapporter/pander/blob/32e0f75ef359225a27aba3641fbe4fa84a5dc6d5/R/helpers.R#L404

If

[2017-10-14 22:22] daroczig commented on #311
Good catch, thanks! I'd be open to this, good idea, but not sure if that works:

[code]

Any ideas?

[2017-10-14 22:26] daroczig commented on #312
Sure, we should parametrize the language for `koRpus` and maybe it will be useful at some other parts of `pander` as well (eg decimal mark defaults in the future, but let's not turn this into something complicated).

I think we should add a new field in `panderOptions` -- I won't be  able to actively work on this in the near future, but would be happy to review and merge a related PR

[2017-10-14 23:08] salim-b commented on #311
Well, I'm not familiar at all with the koRpus package, but maybe I was wrong with the assumption that the parameter `rm.hyph` was responsible for the unduly removed hyphens.

Anyway, as far as I understand it, the `hyphen()` function expects a character vector of **words**, not sentences.

Consider this modification of your first example:

[code]

Now interestingly, if `rm.hyph` is set to `FALSE`,

[2017-10-14 23:18] salim-b commented on #312
Ok, I see. Actually I'd like to contribute, but haven't developed R packages before. So I'd need some time to get started (and get familiar with pander's internals). At the moment I won't have time for this either, but hopefully that might change towards the end of the year... 😬

[2017-10-18 10:38] klmr opened #313 "Mention of “brew”"
The README states:

But in fact [the package has received a few updates since then](https://github.com/vubiostat/brew/commits/master). Unfortunately it has simply never been updated on CRAN. Maybe the README could be amended, and refer to the most recent GitHub version, rather than the outdated CRAN version.

[2017-10-23 10:35] daroczig commented on #312
FTR it seems that hyphenation is being moved out of `koRpus` to its own package at https://cran.r-project.org/web/packages/sylly, so this maybe we should address that as well as part of this idea

[2017-10-31 20:22] GegznaV commented on #296
I created a data.frame `df` in the Lithuanian locale. The object `df`:
[code]
And run `pander(df)`:

[code]

Before code breaking in lines 582-583, object `t` was created. I saved that object as
"t.Rds".
[code]
Other code needed to run these lines:
[code]

I loaded the first row of "t.Rds" and created the analogous line as a character vector `t0`.
[code]
`table.expand` wokrs fine with `t0` and bre

[2017-10-31 21:53] daroczig commented on #296
Thanks a lot for the detailed info, really helpful!

@RomanTsegelskyi, would you have a chance to look into this?

[2017-11-07 10:22] RomanTsegelskyi commented on #296
Sorry I missed all the notifications before, I will try to look into this

[2017-11-08 03:01] przemo commented on #250
I installed pander from github source, but pander.mtable seems to be missing? Can anyone help me?

[2017-11-08 06:38] daroczig commented on #250
@przemo see #304

[2017-11-10 20:15] connorp opened #314 "data.table factor variable as key throws error in pander.data.table"
When using pander to print a data.table, if the first variable on which the table is keyed is a factor variable, pander causes an error to be thrown. The problem is on [lines 258 and 260 of `S3.R`](https://github.com/Rapporter/pander/blob/32e0f75ef359225a27aba3641fbe4fa84a5dc6d5/R/S3.R#L258):

    row.names.dt <- x[[data.table::key(x)[1]]]

If the first variable is a factor variable, then when you

[2017-11-21 10:17] UweBlock opened #315 "Strange behaviour of pander.data.table throws error when sorted attribute is set"
### Sorted attribute set to numeric variable throws error

This was asked on SO [(Error when using pander on a data.table created with data.table::dcast)](https://stackoverflow.com/q/47386954/3817004).

[code]

  row names must be 'character' or 'integer', not 'double'

Workarounds are

[code]

which all return

[code]

### Sorted attribute set to integer variable removes column

However, if the `

[2017-11-23 14:48] ChrisBeeley commented on #300
Just to help anyone else visiting this page, the workaround:

pandoc.table(mtcars %>% tibble::as_data_frame()

Doesn't work on my machine, but:

pandoc.table(mtcars %>% as.data.frame())

Does.

[2017-11-23 20:04] daroczig commented on #300
@ChrisBeeley can you share your R session info? Sounds like an outdated `pander` version?

[2017-11-24 21:33] ChrisBeeley commented on #300
I'm so sorry. You are completely right. I was sure I had the 0.6.1 version but I have now checked and I was running the older 0.6.0. Apologies. It runs fine now.

[2017-12-27 12:29] rrodrigueznt opened #316 "Perhaps a typo in readme?"
Hi! New to document rendering I've reach this great tool! Please, just in order of clarify, do both tags described in the Brew to Pandoc section look the same as they read now of should the first of them be written as `<% ... %>`?

![brewtopandoc 20171227132255](https://user-images.githubusercontent.com/1550835/34381581-b19c6406-eb09-11e7-8c67-71fa14c49876.png)

Thanks!

[2018-01-26 11:12] mcol opened #318 "support for integer64 columns"
When I use dbGetQuery() to query a database table (with the RMariaDB/DBI packages), integer values are now returned as integer64. Printing them with pander produces the wrong output.

[code]

If I convert the column to be just an integer, then pander behaves as expected;
[code]

[2018-01-26 11:20] mcol commented on #318
Reproducible example:
[code]

[2018-02-03 17:58] GegznaV commented on #296
Is there any news on this issue?

[2018-02-12 18:08] lselzer commented on #296
I've been exploring this issue and have found that the culprit is `tableExpand_cpp`

[2018-02-12 18:18] daroczig commented on #296
Thanks, @lselzer! @RomanTsegelskyi, any chance you might be able to look into this?

[2018-02-12 19:12] lselzer commented on #296
using enc2native inside `table.expand` fixes these issue, though I don't know how robust is this solution. I can make a PR.

[2018-02-15 18:24] lselzer commented on #307
I have found that maybe `pander` can know about if it called from within `bookdown` is by checking `knitr::opts_knit$get('bookdown.internal.label')`.

The other issue is how to label the tables. My take would be to automatically number them as table-1, table-2,...

Any thoughts?

[2018-02-18 17:28] adamryczkowski opened #319 "Problem when building a fork on Rstudio (pander.so: undefined symbol: pander_splitLine_cpp)"
I want to write a little enhancement to the pander (to make it support markdown extensions). For this I forked it and opened the project with Rstudio on my Ubuntu 16.04 64bit notebook. Build fails with the following error:

[code]

Pandoc installed with `devtools::install_github('Rapporter/pander')` builds OK. Can anyone tell me, what is the problem?

[2018-03-05 16:42] muschellij2 opened #320 "Pandoc error with `pander` and pandoc `2.0`"
[code]

## Example Rmd where this occurs:

[break_pandoc.zip](https://github.com/Rapporter/pander/files/1781748/break_pandoc.zip)

I have `pander    * 0.6.1   2017-08-06 CRAN (R 3.4.1)` and I get the following error:

[code]

## Session Information
[code]

[code]

[2018-03-06 10:17] daroczig commented on #320
Are you sure it's a `pander` issue? Eg `pander` is generating some markdown failling `pandoc`? Checking the below:

[code]

[2018-03-06 14:33] muschellij2 commented on #320
It may not be a pander issue exactly, but using `knitr::kable` doesn't
throw the error.  Have you tried using `rmarkdown::render` and not
`pandoc`?  It may be the combination of the `render` and `pander` that's
causing an issue.

John

On Tue, Mar 6, 2018 at 5:17 AM, Gergely Daróczi <notifications@github.com>
wrote:

[2018-03-12 13:52] GegznaV commented on #296
@lselzer , on your computer, does it solve the original issue of this thread #296? I installed `pander` from your repository, but when I use the Lithuanian locale and the provided example, there is no effect on my PC (code results in the same error).

[2018-03-12 17:26] lselzer commented on #296
Yes, it solves the issue. I tried your code, tried to reproduce your error but I couldn't

[code]

[code]

[2018-03-31 18:27] dcomtois opened #321 "Column width issue when plain.ascii = TRUE"
Hi Gergely,

I noticed that when `plain.ascii = TRUE`, the column width, in this particular situation, is not adapted to printed content:

[code]
Not sure if that's an easy fix or not though...?

Thx

[2018-04-04 03:16] ekatko1 opened #322 "Generate tables from Anova/Manova output of car package"
It would be great if we could pander(Manova(fit, type=2)) from the car package. It's complicated, however, by the fact that the Manova function prints directly instead of generating an object with a relevant matrix.

[2018-04-06 16:58] rubenarslan opened #323 "Too much indentation in nested list"
The following R code, when rendered via rmarkdown

[code]

yields

  * **w**:

      * **x**:

              * **y**:

                          * **z**: bla

i.e. the last two sub-levels are shown as code.

I thought this could somehow could be fixed, by reducing the multiplier for indent.level in `pandoc.indent` and `pandoc.list.return` from 4 to 2, but there is someplace else where extra spaces

[2018-04-24 06:31] hr70 commented on #296
Similar problems on a German Locale since switching from R3.3 to R3.4 (Windows). I just tried with R3.5, but that didn’t change anything. Seems as if things get encoded wrongly in the rownames if German characters (e.g. “Ä”) are present there, in the colnames if present there, and interestingly only in the rownames if present in rownames _and_ colnames.
I downloaded https://github.com/lselzer/pand

[2018-07-06 05:02] elinw opened #324 "Coming archiving on CRAN?"
Hi,

We got this notice today:

Can you tell us what is going on and if you intend to fix?  Do you need help?
For my package (skimr) we'd hate to lose pander support.

[2018-07-06 08:05] daroczig commented on #324
Sorry for the trouble, I do have plans to fix this, but have been busy/traveling in the past months. To keep it short, I will fix this before the deadline.

[2018-07-06 10:50] MaximeWack commented on #324
Hi, thank you for your answer!

A quick fix would be to remove the offending example, however all it does is hide the error.

A correct fix would be to change `if (author != '') {` to `if (any(author != '')) {` and `if(title != '') {` to `if (any(title != '')) {`

I'd also recommend sanitizing those character vector to remove empty strings prior to concatenation with `paste0`.

[2018-07-07 10:00] daroczig commented on #318
Looks like `sapply` and `format` doesn't like int64:

[code]

[2018-07-07 10:12] #316 closed

[2018-07-07 10:12] #318 closed

[2018-07-07 10:12] daroczig commented on #316
Thanks :+1:

[2018-07-07 10:12] daroczig commented on #318
Seems to be OK now, please check.

[2018-07-07 10:13] daroczig commented on #324
The failing example has been fixed and a new version will be soon pushed to CRAN.

[2018-07-08 01:17] #314 closed

[2018-07-08 01:17] daroczig commented on #314
Thanks :+1:

[2018-07-08 01:38] daroczig commented on #324
v0.6.2 has been submitted to CRAN, thanks all

[2018-07-08 01:38] #324 closed

[2018-07-08 16:56] ekstroem commented on #324
Wonderful, thanks!

[2018-09-06 19:55] awfrankwils commented on #296
Hi there,

I am also experiencing encoding issues on Windows with R 3.5.1 and Pander 0.6.2.

I have been trying to insert unicode for no-break spaces to indent factor levels in my tables. Here are three examples of what I am trying to do. Example 1 uses a normal space that is ignored by Pander(); examples 2 and 3 use the unicode "\u00A0" which appears as Â instead of a space.

[code]
![example1](h

[2018-09-06 19:59] awfrankwils commented on #280
[https://github.com/Rapporter/pander/issues/296#issuecomment-419220848](url) #296

[2018-09-09 23:13] daroczig commented on #296
I tested #326 in a Windows VM started and seems to do the trick, but please confirm.

[2018-09-09 23:13] daroczig commented on #319
I tested #326 in a Windows VM started and seems to do the trick, but please confirm.

[2018-09-18 18:16] afranks86 commented on #320
I have the same error trying to render the following markdown table:

"Code                                     | Rendered math
--------------------------------------------|-------------------------------------------
`$x$`                                      | $x$
`$\theta$`                                 | $\theta$
`$x_i^2$`                                  | $x_i^2$
`$\frac{1}{n}\sum_{i=1}^n x

[2018-09-19 22:45] #279 closed

[2018-09-19 22:47] daroczig commented on #279
Example:

[code]

[2018-10-16 22:13] dchiu911 commented on #278
Any updates regarding this issue?

[2018-10-16 22:36] daroczig commented on #278
It's not likely that I will have time to look into this soon, sorry, but would appreciate a PR.

[2018-10-26 09:03] RaySub commented on #296
Hello,
I have been successful with the first commit intended to solve this issue:
install_github("Rapporter/pander@06c2f6579740564063af7081373113daa62b1023")
but not with the latest one:
install_github("Rapporter/pander@66492997bbdc4f9766d7c4573e676fbdb9bd7def")

R version 3.5.1 (2018-07-02)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 17134)

locale:
[1] LC_COLLA

[2018-10-29 12:13] trinker opened #327 "Single spaced output option"
**pander** returns its output as a double spaced table.  When it gets converted to whatever format (e.g., html) this doesn't matter but the plain text is also of interest.  Having the ability to remove the double spacing can be useful.  COuld this be a feature for options?

I asked this as a Stackoverflow question and want to link the two posts: https://stackoverflow.com/a/53045049/1000343

[2018-10-30 09:18] daroczig commented on #327
You mean not having an extra line-break between the lines? That's part of the `multiline` specs of `pandoc.` Maybe try with `style = 'simple'`?

[code]

[2018-10-30 15:12] trinker commented on #327
thanks...that was what I was after

[2018-10-30 15:12] #327 closed

[2018-11-05 10:53] tdeenes opened #328 "Error if list element is of class 'Date' (bug?)"
Maybe I am missing something obvious, but this code results in an error (version 0.6.2):

[code]

The problem is caused by `pander:::pander.Date` which passes all dots arguments to `pander:::pandoc.date` which passes the args further to `pander:::pandoc.date.return` which does not have `...` in its arguments. Note that `pander.list` contains this line:
[code]
, and because of the above, the argume

[2018-11-06 01:05] #328 closed

[2018-11-06 01:06] daroczig commented on #328
Oh, good catch, and thanks for the detailed report.

[2018-11-09 21:57] #323 closed

[2018-11-09 21:57] daroczig commented on #323
Oh, great catch, thanks! I've just pushed a potential fix for this, can you please check?

[2018-11-12 08:21] hr70 commented on #296
I tried on my home computer, and can also confirm success with this:
install_github("Rapporter/pander@06c2f65")
(not able to test it in the office, as I am not allowed to install packages from github there)

[2018-11-12 12:56] rubenarslan commented on #323
confirmed fixed!

[2018-11-24 21:16] dcomtois commented on #319
Same issue here; tested #326 both on windows and Linux, doesn't help unfortunately.

[2018-11-26 08:06] #321 closed

[2018-11-28 14:06] cturbelin opened #331 "pandoc convert : path to pandoc not escaped on windows"
Platform: Windows
pander: Version 0.6.1
function : Pandoc.convert
The path provided by "pandoc.binary" option is not escaped during the system call, and this causes problem when the path contains space (yes...I know). The pandoc.binary cannot be escaped before because of the test of existence of the binary.

If we use `panderOptions("pandoc.binary", file.path(Sys.getenv("RSTUDIO_PANDOC"), "pandoc.

[2018-11-28 14:09] cturbelin opened #332 "Autodetect pandoc binary path on RSTUDIO"
Enhancement:
use environment variable RSTUDIO_PANDOC path if available ?

[2018-12-04 11:21] ymer opened #333 "Multiple panderOptions"
Is there a way to set multiple pander options in the same command? I feel it clutters the code to have 3+ lines of panderOptions commands.

[2018-12-18 08:32] dcomtois commented on #296
I had an issue trying to print a data frame with cyrillic column names:

[code]

Installing the patch mentionned in the above comment resolved the issue.

[2018-12-18 18:39] dmenne opened #334 ""Â" in top left table corner in pander(desctable)"
```pander(desctable::desctable(iris))```

Note the redundant character in the first row

[code]

[2018-12-19 01:13] daroczig commented on #334
I guess this is not specific to `desctable`, but the non-breaking space is being replaced on your computer to that strange character. Can you please confirm with something simple, such as

[code]

Also, pls share your `sessioninfo::session_info()` or `devtools::session_info()`?

[2018-12-19 01:16] daroczig commented on #334
BTW seems to be an encoding issue somehow https://stackoverflow.com/questions/28502051/Â-character-showing-up-instead-of-nbsp

[2018-12-19 07:31] daroczig commented on #334
Thanks, can you please try left justified version as well?

[code]

[2018-12-19 07:34] dmenne commented on #334
[code]

[2018-12-19 08:06] daroczig commented on #334
Thanks! Then I think this is coming from https://github.com/MaximeWack/desctable/commit/deecc853059d06515f21d11743da1bcad7ee4189

[2018-12-20 16:34] GegznaV commented on #296
I can also confirm that `install_github("Rapporter/pander@06c2f65")` solved my original issue (I use Windows 10 and R 3.5.2).

@daroczig, will this patch be merged into the main branch of `pander`? When can one expect it on CRAN?

And maybe #326 is not necessary?

[2018-12-20 16:54] GegznaV commented on #334
Maybe related to #296?
Does this patch (Rapporter/pander@06c2f65) solve the issue: `install_github("Rapporter/pander@06c2f65")`?
On my PC it did:
![image](https://user-images.githubusercontent.com/12725868/50298661-52a32e00-0488-11e9-9ea4-8530540fc31e.png)

[2018-12-20 17:36] dmenne commented on #334
Bingo! Thanks. I close this issue, hoping that #296 will make it into pander

[2018-12-20 17:36] #334 closed

[2018-12-25 19:37] dcomtois commented on #333
In *summarytools*, made the transition from the method used in pander to the one you suggest. If anyone wants to work on it, I think this would be a good basis. Note that it supports the "legacy" way of settings options, too.

https://github.com/dcomtois/summarytools/blob/dev-current/R/st_options.R

[2018-12-25 19:57] dcomtois opened #335 "Encoding discrepancy in multiline tables (line feed vs no line feed)"
Encodings, encodings. What would we do without those headaches I wonder. This concerns only Windows AFAIK.

I found that in _multiline_ tables (using styles "_grid_" or "_multiline_"), strings are not encoded consistently; if there is a line feed (`\n`), things are fine. But when there is none, things go wrong:
[code]
The string in the upper right cell is encoded in _latin1_, in accordance with my

[2018-12-25 22:47] daroczig commented on #333
Sorry for the late reply, did not really have time to work on `pander` recently -- but planning to spend more time on this in 2019 and probably release v1.0 with quite some refactoring and cleaning up these legacy issues (with potentially with some minor breaking changes as well). Until then, you could try something like

[code]

[2018-12-26 11:55] dcomtois commented on #335
I realized that the fix for issue #296 (pander@06c2f65) solves this problem as well.

[2018-12-26 11:55] #335 closed

[2019-01-04 13:39] mgruebsch commented on #296
I had the same issue with German which is solved by `devtools::install_github("Rapporter/pander@06c2f65")`. Please merge the fix into the master release. Thank you!

[2019-01-21 07:59] dcomtois commented on #296
@daroczig Do you plan on merging this issue? If not, pls let me know... I am holding off pushing an update of summarytools to CRAN (which will include translations) until the issue is resolved. Thx!

[2019-01-21 08:02] dcomtois opened #336 "column.width issue when using img refs"
The column widths are affected by the length of the path to images, which should not happen... For instance, if a cell contains:

`![](C:\\Users\\usr1234\\AppData\\Local\\Temp\\RtmpQhs2I7\\file3a745a6e4f4f.png)`

The width will try to accomodate for all these characters.

[2019-01-21 23:17] #332 closed

[2019-01-21 23:18] daroczig commented on #332
Yeah, good idea, thanks a lot and sorry for the long delay with the fix!

[2019-01-21 23:43] #296 closed

[2019-01-21 23:45] daroczig commented on #280
Should be fixed with the above commit.

[2019-01-21 23:45] #280 closed

[2019-01-21 23:45] daroczig commented on #319
Can you pls check again?

[2019-01-21 23:47] #331 closed

[2019-01-22 01:09] dcomtois commented on #319
I still get this (Ubuntu 18.04):
(tried with and without devtools)
[code]

[2019-01-22 02:00] dcomtois commented on #319
Installing with `devtools::install()` worked. It doesn't seem to support breakpoints in RStudio though, but inserting `brower()` in the code makes it possible to enter debugging mode.

Also it seems the problem is averted by using "Configure Build Tools" in RStudio and using "Makefile" with option "install", instead of the "standard" _Install and Restart_ in RStudio.

[2019-01-22 07:08] daroczig commented on #319
Thanks a lot for the investigation, @dcomtois, and I'm glad you figured this out -- I'm closing this, as I cannot really help with this at this point.

[2019-01-22 07:08] #319 closed

[2019-01-22 07:11] #313 closed

[2019-01-22 07:12] daroczig commented on #272
I think this has been fixed with #296, please confirm.

[2019-01-22 07:12] #272 closed

[2019-01-25 03:15] dcomtois commented on #336
Just a little update, in case someone encounters the same situation: I asked the question on the [pandoc discussion group](https://groups.google.com/forum/#!forum/pandoc-discuss), and it is indeed a limitation in pandoc. There is an easy workaround when the column containing the images is the last one:

[code]
... but if it's not the last column, it doesn't work.

Otherwise, here are the suggestio

[2019-01-25 03:21] dcomtois commented on #319
You're welcome!

Side-note: When building / installing with Makefile (as opposed to `devtools::install()`), we can actually debug adequately (meaning we can "follow" the code execution, although we still need to insert `browser()`).

[2019-01-25 09:31] daroczig commented on #336
Thanks, @dcomtois, these points are really useful :+1:

[2019-01-25 20:52] dcomtois commented on #336
You're welcome! Unfortunately the workaround I was putting my faith in a non-solution since it also requires a pandoc filter. Maybe an advanced Web developer could see a solution (involving Javascript, most probably), but I had to do something far from ideal to make things work: copy the images in a subdirectory and save them using short names. That way I can put in the cells something like this:

[2019-04-03 20:20] pflick opened #337 "Digits after decimal point in pandoc.table"
It seems that the digits option in pandoc.table results in the total number of digits, not digits after the decimal.  Here is an example:

[code]
results in
[code]
There doesn't seem to be a way to get x digits after the decimal point if your numbers vary in length.  Is this a feature that could be added?
Thank you for pander!

[2019-04-03 22:18] daroczig commented on #337
Yeah, so `digits` stands for the number of signigicant digits as in `format`. I think you are looking for a mix of `digits` **and** `round`, eg:

[code]

I hope this helps and closing the ticket for now -- as having no better idea around this, but feel free to come back with suggestions and reopen.

[2019-04-03 22:18] #337 closed

[2019-04-15 17:56] cpsyctc2 opened #338 "Feature request: row.names = TRUE option"
This is tangential to what I think is a bug report I'll put in separately.  Is it possible to have the options on pander(), essentially on pandoc.table() to allow row.names=TRUE? This would be symmetrical with row.names=FALSE which is allowed, and would greatly simplify asking for row.names of data frames to be printed.  TIA, Chris

[2019-04-15 18:04] cpsyctc2 opened #339 "Seemingly a bug in justify= and rownames=1:nrow()"
I use pander a lot for tables in Rmarkdown generated from Rstudio so many thanks for the package.

Here's a reproducible example I think.  It may be a bit of an edge case as I do want row names when they are 1:nrow(tmpDF)

[code]

[code]
but
[code]
Which is correct, as it is that
`pander(tmpDF, justify = "lrrllr")`
works correctly.

I hope I'm not missing something.  TIA, Chris

[2019-04-15 22:14] daroczig commented on #339
Thanks for the report -- this seems to be more of an issue with splitting tables, as the below works:

[code]

Will look into this more later.

[2019-04-16 05:55] cpsyctc2 commented on #339
Interesting, I hadn't tried that on this table nor noticed it with others and I use split.tables = Inf quite a bit but I guess I rarely find myself imposing the 1:nrow() row names.

Really appreciate you looking into it Gergely. I of course bodged things by cbinding in a column for the 1:nrow() labels on the left.

I'd definitely lobby for my feature request of the "row.names = TRUE" option too bu

[2019-06-11 10:15] ymer opened #340 "Pander doesn't display international characters for me."
Example of R studio session:

http://www.jsmp.dk/pander/pander_test.utf8.md.html

[2019-06-11 10:53] daroczig commented on #340
Can you pls try with the dev version installed from GH? Seems to be a duplicate of #296

[2019-06-11 16:01] ymer commented on #340
Indeed that fixes it! I thought I had the newest dev, but it turned out I didn't. Apologies for any inconvenience, and thanks for fixing #296.

[2019-06-11 16:50] daroczig commented on #340
Awesome, thanks for the feedback

[2019-06-11 16:50] #340 closed

[2019-07-24 14:17] GegznaV commented on #296
@daroczig It seems that currently CRAN version of `pander` is inferior to the GitHub version.
When is the GitHub version of `pander` (with this encoding bug fixed) going to be released on CRAN?

[2019-08-03 18:00] connorp commented on #307
Poking through the code of [`knitr::kable`](https://github.com/yihui/knitr/blob/master/R/table.R#L108), it looks like generating the labels from the chunk title is pretty straightforward and only takes a few lines of code, plus a call to [`create_label()`](https://github.com/yihui/knitr/blob/master/R/utils.R#L784). @yihui would it be inappropriate to just take those few lines from the source of `k

[2019-09-07 04:59] ShixiangWang opened #341 "Cannot justify cell"
Dear developers,

I found I cannot align some columns like `members`, `books`, is there a solution?

Best,
Shixiang

[code]

Test data:

[code]

[2019-09-18 07:38] CGMossa commented on #319
I am also facing this issue.

[code]

[2019-11-08 20:51] slyrus opened #342 "pander::pander(style="simple", ...) does not play well with MS Word output"
It's a bit of a challenge to make a short reproducible as this relies on outputting an Rmarkdown file to word (docx) format, but if I use style="simple", then the table does not render properly in word. Leaving that out (yielding style="multiline", I think) allows things to work.

[2019-11-08 21:22] slyrus opened #343 "Striped tables?"
I find myself needing to use pander::pander instead of knitr::kable(format="latex", ...). And I really miss my striped tables. Is there any way to get this effect (still using latex) but using pander::pander? Alternatively, I could try to convert my rmarkdown text (with things like ~ for subscript) into latex before calling kintr::kable, but I don't now how to do that either. Thanks!

[2019-11-09 00:10] daroczig commented on #342
Sorry, this is not really a `pander` question: this R package transforms the R object into Pandoc's markdown, which then can transform the markdown to other document formats, eg MS Word. Maybe try getting help on this by posting a minimal example on the issue (eg what `pander` returns with the `simple` style) at https://github.com/jgm/pandoc

[2019-11-09 00:10] #342 closed

[2019-11-09 00:12] daroczig commented on #343
`pander` generates markdown that knows not much about table formatting -- that's something you can do with custom HTML or LaTeX markup or general stylesheets. Eg you can make all your tables striped with a CSS stylesheet or LaTeX setting/macro.

BTW if you want to fine-tune your tables, I don't think markdown (or `pander`) is the right tool, but go straight for LaTeX or HTML or MS Word, eg via `xt

[2019-11-09 00:12] #343 closed

[2020-01-11 16:08] GegznaV commented on #296
Is `pander` going to be updated on CRAN?

[2020-02-25 13:45] dmenne opened #345 "pander and autonumbering of tables"
I have posted a comment on

https://community.rstudio.com/t/table-numbering-in-bookdown-why-can-only-kable-do-it-portably-huxtable-pander-flextable-fail/54313

showing how `knitr::kable` nicely autonumbers tables in bookdown documents for HTML and Word, while `huxtable and pander` fail for both and `flextable` only works with HTML. I might have used some examples wrongly, so please feel free to co

[2020-05-05 20:56] billdenney commented on #280
@daroczig, I just had the same issue.  Is there a way that I could help in some way to release a new version of pander with this fix (and all others that have been made)?

[2020-05-17 15:33] avyukt opened #346 "How to keep summary tables formatted via pander, on the same page?"
I have been using pander to generate a report with more than 20 summary tables from old output. The tables are short enough to fit within a page but when creating pdf from Rmd document, the tables break on to two pages.

Since there are so many of them, I cannot use the option of \pagebreak to force them on a new page or manually place them.

What pander option or method can I use to keep the tabl

[2020-05-17 19:16] daroczig commented on #346
This is rather a pandoc, or even more a LaTeX question and not really specific to the `pander` wrapper, but if you can share a minimal example, I can try to look into that.

[2020-05-18 01:32] avyukt commented on #346
---
title: "Put tables on the same page"
author: "author"
date: May 16, 2020
output:
  pdf_document:
    extra_dependencies: ["lipsum"]
    number_sections: yes
    toc: yes
geometry: margin=1in
fontsize: 11pt
---

[code]
[code]

\lipsum[3-5]

[code]

[2020-05-18 01:33] avyukt commented on #346
`---
title: "Put tables on the same page"
author: "author"
date: May 16, 2020
output:
  pdf_document:
    extra_dependencies: ["lipsum"]
    number_sections: yes
    toc: yes
geometry: margin=1in
fontsize: 11pt
---

[code]
[code]

\lipsum[3-5]

[code]

`

[2020-05-18 01:33] avyukt commented on #346
---
title: "Put tables on the same page"
author: "author"
date: May 16, 2020
output:
  pdf_document:
    extra_dependencies: ["lipsum"]
    number_sections: yes
    toc: yes
geometry: margin=1in
fontsize: 11pt
---

[code]
[code]

\lipsum[3-5]

[code]

[2020-05-18 01:37] avyukt commented on #346
I tried adding the file in .Rmd format but it is converting it to the code above. Would you be able to add the Rmd tags? or how shall I add the minimal example in Rmd format?
Thank you.

[2020-05-18 01:39] avyukt commented on #346
[tablefix.txt](https://github.com/Rapporter/pander/files/4641587/tablefix.txt)

[2020-05-18 01:40] avyukt commented on #346
Please check if this file downloads and replace the extension with .Rmd. It only allows certain file formats to be uploaded here.

[2020-05-18 13:41] avyukt commented on #346
The problem I think is because the latex code using longtable which spans multiple pages. Is there a way to change the package used for tables to booktabs or some other option with Rmarkdown or pander?

[2020-05-22 21:30] daroczig commented on #346
Hm, this does render on a single page for me:

![image](https://user-images.githubusercontent.com/495736/82710852-3494bb00-9c84-11ea-92ac-95b641a889b0.png)

[2020-05-22 21:32] daroczig commented on #346
Anyway, sorry, I have to close this -- as not being in the scope of `pander`. This R package helps with transforming R objects into Pandoc's markdown, and then it's `pandoc` doing the document conversion, eg into `tex` and then calling `pdflatex` (or similar) for the PDF output. I'd ask on the `pandoc` email list.

[2020-05-22 21:32] #346 closed

[2020-05-22 21:36] daroczig commented on #280
@billdenney you mean a CRAN release? I will need to look into the CI builder as seems to be failing and do a general check-up on the package ... I have not really touched it for a while. I can do that in a few weeks hopefully, but would appreciate any help someone running all the tests and `R CMD check` using dev version of R etc and create a PR for a CRAN release.

[2020-05-22 21:38] billdenney opened #347 "Release on CRAN"
As discussed in #280, a new CRAN release would help.  This issue will assist with the discussion around creating that new release.

@daroczig, to answer the question from the other issue, yes.  I'll try to start some specific issue identification and make PRs (or help identify where changes are needed) to get there.

[2020-05-22 22:00] billdenney commented on #347
I rapidly hit an error (I can't readily fix C++ issues):

[code]

I got that when trying to run `devtools::load_all()` after cloning the repository.  It appears to relate to how `Rcpp::compileAttributes()` works.

[2020-05-23 07:03] avyukt commented on #346
[TablesFix3.pdf](https://github.com/Rapporter/pander/files/4671337/TablesFix3.pdf)

[2020-05-23 07:05] avyukt commented on #346
Could you please share the session info? As I am getting the table to be on two pages. Maybe there is some package or library that is interfering with the latex compilation.

Thank you.

[2020-05-24 13:12] daroczig commented on #346
R and packages:

[code]

pandoc:

[code]

pdflatex:

[code]

[2020-05-24 13:13] daroczig commented on #346
PS worst case scenario if the R->markdown->tex conversion path is not working, I'd suggest looking into `xtable` etc for greater control on the LaTeX output

[2020-05-25 09:13] daroczig commented on #347
Thanks a lot @billdenney :bow:

Unfortunately, this clearly shows that Windows has been always a bit neglected in this repo ... eg myself being a Linux user and (so thus) unit tests are only running on Linux as well -- but we should fix that latter.

Please let me know if you have time to look into adding appveyor support for Windows CI, otherwise I will take a look and also figure out the above i

[2020-05-26 17:31] billdenney commented on #347
@daroczig, I don't think that this is a Windows issue.  The problem occurs with something about how Rcpp is rewriting source files.  (Now, maybe that is Windows-specific in which case I'll take back my first sentence.)

[2020-05-27 00:11] daroczig commented on #347
I've set up AppVeyor to be able to test this on Windows, and although there are quite some issues -- but the Rcpp build went fine: https://ci.appveyor.com/project/daroczig/pander

Meanwhile, Travis is misbehaving ... so cannot run the automated tests on Linux :sweat_smile:

I will try to get back to this soon, but no promises at the moment.

[2020-07-23 11:18] gorkang commented on #298
Same here. The sjPlot tables are great, but I am not sure how to "easily" convert them to latex (e.g. to use them in Overleaf).

My very hacky approach has been the following. I am posting it here in case it helps someone.

[code]

<table style="border-collapse:collapse; border:none;">
<tr>
<th style="border-top: double; text-align:center; font-style:normal; font-weight:bold; padding:0.2cm;  text-

[2021-03-11 11:13] iago-pssjd opened #348 "pander.headar inside loop with results = 'markup' chunk"
`pandoc.header` does not work inside a loop on an rmarkdown chunk with `results='markup'`, while it works with `results='asis'`.

I ask the same question as here (https://stackoverflow.com/questions/66580211/how-to-change-chunk-options-results-formatting-inside-a-loop-in-a-chunk), because of the claim:

I copy the reprex

[code]

Thank you!

[2021-03-11 11:17] iago-pssjd commented on #348
In fact, now I found this (https://github.com/yihui/knitr/issues/1137) which seems to be related.

[2021-03-22 13:51] barboulotte opened #349 "Feature: option to capture exact "console error""
Related question on SO: https://stackoverflow.com/questions/66603676/capture-error-messages-as-character-string-in-r/66660202

See also https://github.com/r-lib/evaluate/issues/101

Would it be possible to capture exact "console error":

[code]
Thank you,

[2021-03-30 11:12] daroczig commented on #276
Sorry for not making this happen sooner. @timwoelfle, can you please edit your above example to make it reproducible? Eg creating the list of `plots`. Please feel free to keep it to a super simple minimal example.

[2021-04-04 07:51] timwoelfle commented on #276
[Attached is a reproducible example!](https://github.com/Rapporter/pander/files/6254114/example.zip) The ggplot objects work, but the plotly objects don't. You have to run the notebook in RStudio (e.g. with "Run all") and save it as a notebook, looking at the auto-generated test.nb.html (also attached, knitting won't work).

[2021-05-31 08:18] AtomicNess123 opened #350 "cor.test support"
Pander for cor.test output would be appreciated (ability to highlight significant correlations, etc.).